
@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.PaymentOrder;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    /*#div_Data .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 2px !important;
        padding-right: 2px !important;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    #div_Data_devolte .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 2px !important;
        padding-right: 2px !important;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .posation_overflow {
        position: absolute;
        left: -79px;
    }

    .style_pading_lepel {
        //padding-top: 10px;
        padding: 10px 12px 0 0;
    }


    .pading_ {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    .pad_ {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inner tr td {
        border-top: none !important;
    }



    .fontitm3 {
        float: right;
        margin: 5px -2% 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
    }

    .style_pading {
        padding-left: 1px;
        padding-right: 1px;
    }

    .table_11 tr td:nth-child(3) {
        width: 200px;
    }

    .table_11 tr th:nth-child(12), .table_11 tr td:nth-child(12) {
        width: 120px;
    }

    .table_11 {
        margin-bottom: 0px;
    }

    .auto-style1 {
        background-color: #F5F5F5;
    }

    .display_none {
        display: none !important;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    .glyphicon-remove-sign:hover {
        color: red
    }

    .minus_btn {
    }

    .font_codenumber {
        font-size: 19px;
        font-weight: bold;
    }

    .style_border {
        border-top: solid 1px;
        padding: 10px 0px 4px 0px;
    }

    #div_Data .col-xs-1 {
        padding: 0px !important;
    }

    #div_Data .col-xs-2 {
        padding: 0px !important;
    }*/
</style>
<div class="row gy-3" id="div_ContentData">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Men_StkDefStore</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drp_G_Store">
                                    <option value="null">@SystemResource.App_Store</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.CostCenter</label>
                            <div class="col-8 ">
                                <select id="drp_C_Center" class="form-control">
                                    <option value="null">@SystemResource.CostCenter</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.PaymentTypes</label>
                            <div class="col-8 ">
                                <select id="drp_Pay_Type" class="form-control">
                                    <option value="null">@SystemResource.PaymentTypes</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Status</label>
                            <div class="col-8 ">
                                <select id="drp_Status" class="form-control input-sm">
                                    <option value="null">@SystemResource.App_All</option>
                                    <option value="0">@SystemResource.App_Not_Certified</option>
                                    <option value="1">@SystemResource.App_Certified</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="id_divMasterGrid">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="txtSearch" type="text" class="form-control">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="divMasterGrid"></div>
                </div>
            </div>

        </div>
        <!-- Details  -->
        <div id="id_divGridDetails" class="row display_none">
            <div id="div_Master_Hedr" class="col-12 service-content">
                <div class="serviceBox mt-5" id="div_Master">
                    <div class="row g-0">
                        <div class="col-12 col-md-3">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_Number</label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="text" class="form-control" id="txtTrNo" name="Tr_No">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_date </label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="date" class="form-control" id="txTrDate" name="TrDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_Store </label>
                                <div class="col-8 col-md-7 ">
                                    <select id="txtStoreID" name="StoreID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-md-2">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-5 align-self-center p-md-0">@SystemResource.App_Certified</label>
                                <div class="col-9 col-md-7">
                                    <input type="checkbox" name="Status" class="checkbox" id="chkStatus" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.App_ReferenceNumber</label>
                                <div class="col-8 col-md-7 ">
                                    <input disabled type="text" class="form-control" name="RefNo" id="txRefNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.CostCenter</label>
                                <div class="col-8 col-md-7 ">
                                    <select id="ddl_C_center" name="CC_CODE" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-5 align-self-center p-md-0">@SystemResource.PaymentTypes</label>
                                <div class="col-8 col-md-7 ">
                                    <select id="ddl_PaymentType" name="IssueTypeID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row g-0 ">
                                <label id="LabtxtRemarks" class="col-4 col-md-1  align-self-center p-md-0">@SystemResource.App_Notes</label>
                                <div class="col-8 col-md-11 ">
                                    <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemark"> </textarea>
                                </div>
                            </div>
                        </div>
                        <input type="number" name="StoreCode" class="display_none" id="txtStoreCode" />
                    </div>
                </div>

            </div>
            <!-- Inside Table  -->
            <div class="inside-table my-4">
                <div class="table-responsive">
                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th style="width: 5%"></th>
                                <th style="width: 5%"> @SystemResource.serial</th>
                                <th style="width: 5%"></th>
                                <th style="width: 20%">@SystemResource.Itm_ItemCode</th>
                                <th style="width: 40%"> @SystemResource.App_Item</th>
                                <th style="width: 10%" class="text-wrap">@SystemResource.Itm_Uom</th>
                                <th style="width: 10%" class="text-wrap"> @SystemResource.App_Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="div_Data"></tbody>

                    </table>
                    <div class="d-flex justify-content-start mr-1">
                        <span id="btnAddDetails" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                    </div>
                </div>
            </div>
            <!-- Editors Details -->
            <div class="insettext row editor-details">
                <div class="col-12 col-lg-6">

                    <div class="form-group row g-0">
                        <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                        <div class="col-4 col-xl-4 editor-input">
                            <input id="txtCreatedBy" name="CreatedBy" type="text" disabled>
                        </div>
                        <div class="col-4 col-xl-6 editor-input">
                            <input id="txtCreatedAt" name="CreatedAt" type="text" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-xl-2 align-self-center p-md-0"> @SystemResource.App_Update </label>
                        <div class="col-4 col-xl-4 editor-input">
                            <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled>
                        </div>
                        <div class="col-4 col-xl-6 editor-input">

                            <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12   margingred  borderred" id="div_ContentData">

        
        <div id="id_divGridDetails" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 display_none ">
            
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont">
                <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_header" style="bottom: 5px;font-size: 13px;font-weight: bold; ">
                    <br />
                    <div class="col-lg-1 " style="width: 4%;">
                    </div>
                    <div class="col-lg-1 ">
                        <span class="">@SystemResource.serial</span>
                    </div>
                    <div class="col-lg-4 ">
                        <span class="">@SystemResource.Itm_ItemCode</span>
                    </div>
                    <div class="col-lg-4" style="width: 25%;">
                        <span class="text-center">@SystemResource.App_Item</span>
                    </div>
                    <div class="col-lg-2 ">
                        <span class="">@SystemResource.Itm_Uom</span>
                    </div>
                    <div class="col-lg-1 ">
                        <span class="">@SystemResource.App_Quantity </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                    <div class="row " id="div_Data">
                    </div>
                    <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign display_none"></span>
                </div>
            </div>
            <input id="UnitCost' + cnt + '" name=" " type="hidden" class="form-control input-sm  " /><input id="txt_StatusFlag' + cnt + '" name=" " type="hidden" class="form-control input-sm  " /><input id="txt_ID' + cnt + '" name=" " type="hidden" class="form-control input-sm  " />
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Create </label>
                <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">
                <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2"> </div>
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Update </label>
                <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom">
                <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">

            </div>*@
        </div>
    </div>

    @section Script{
        <script src="~/ClientApp/StkDefinition/IssueToCC.js"></script>
    }

