

@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_StkDefItems;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .posation_overflow {
        position: absolute;
        left: -79px;
    }

    .style_pading_lepel {
        /*padding-top: 10px;*/
        padding: 10px 12px 0 0;
    }

    .style_pading_lepel2 {
        /*padding-top: 10px;*/
        padding: 10px 30px 0 0;
    }

    .pading_ {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pad_ {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inner tr td {
        border-top: none !important;
    }



    .fontitm3 {
        float: right;
        margin: 5px -2% 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
    }

    .style_pading {
        padding-left: 1px;
        padding-right: 1px;
    }

    .table_11 tr td:nth-child(3) {
        width: 200px;
    }

    .table_11 tr th:nth-child(12), .table_11 tr td:nth-child(12) {
        width: 120px;
    }

    .table_11 {
        margin-bottom: 0px;
    }

    .auto-style1 {
        background-color: #F5F5F5;
    }

    .display_none {
        display: none !important;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    .glyphicon-remove-sign:hover {
        color: red
    }

    .minus_btn {
    }

    .font_codenumber {
        font-size: 19px;
        font-weight: bold;
    }

    .style_border {
        border-top: solid 1px;
        padding: 10px 0px 4px 0px;
    }
</style>

<div class="">
    <div id="printableArea"> 
    </div>
</div>

<div class="panel-body     borderred" id="div_ContentData">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-1 pad_">
                <label class=" style_pading_lepel2 ">@SystemResource.Men_StkDefStore</label>
            </div>
            <div class="col-lg-3">
                <select id="drp_G_Store" class="form-control"><option value="null">@SystemResource.Men_StkDefStore</option></select>
            </div>
            <div class="col-lg-1 pad_">
                <label class=" style_pading_lepel2 ">@SystemResource.APP_Category</label>
            </div>
            <div class="col-lg-3">
                <select id="drpPaymentType" class="form-control"><option value="null">@SystemResource.APP_Category</option></select>
            </div>
            <div class="col-lg-1 pad_">
                <label class=" style_pading_lepel2 ">@SystemResource.App_Type</label>
            </div>
            <div class="col-lg-3">
                <select id="drpitem_family" class="form-control"><option value="null">@SystemResource.App_Type</option></select>
            </div>


        </div>
        <div class="col-lg-12">
            <div class="col-lg-1 pad_">
                <label class=" style_pading_lepel2 ">@SystemResource.APP_Stoke</label>
            </div>
            <div class="col-lg-3">
                <select id="drp_StocK" class="form-control">
                    <option value="All">@SystemResource.App_All</option>
                    <option value=">"> @SystemResource.His_stoke</option>
                    <option value="=">  @SystemResource.Zero_Stoke</option>
                    <option value="<"> @SystemResource.Exposed_balance</option>

                </select>
            </div>
            <div class="col-lg-4 pad_">

            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info" id="btnShow">
                    @SystemResource.App_Show  <span class="glyphicon glyphicon-save "></span>
                </button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-warning display_none" id="btnback">
                    <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_back
                </button>
                <button id="btnsave" type="button" class="btn btn-success display_none">
                    @SystemResource.App_save    <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
                <button type="button" class="btn btn-primary" id="btnedite">
                    <span class="glyphicon glyphicon-edit"></span> @SystemResource.App_Update
                </button>
                <button id="ID_Print" onclick="printDiv(printableArea);" class="noPrint display_none">
                    Print Me
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-12">

            <style>
                #div_Data .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding: 2px !important;
                    padding-right: 2px !important;
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }

                #div_Data_devolte .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding: 2px !important;
                    padding-right: 2px !important;
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }
            </style>

            <div id="id_divMasterGrid" class="col-lg-12  margingred  borderred  display_none">
                <div class="col-lg-3 col-xs-8" style="margin-bottom: 4px;margin-right: 27px;margin-top: 9px;">
                    <input id="searchbutmemreport" name="" type="text" class="form-control  text_Display" placeholder="@SystemResource.App_SearchbyNumPh ">
                </div>
                <div class="col-lg-15 ">
                    <table id="divMasterGrid"></table>

                </div>
                <h4 style="text-align: center;font-weight: bold;color: #0088c7;"><i class="glyphicon glyphicon-hand-up"></i> @SystemResource.App_DoubleDisplay <i class="glyphicon glyphicon-hand-up"></i></h4>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                <div id="id_divGridDetails" class="row  margingred    ">
                    <div id="div_Master_Hedr" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred display_none">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  ">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xl-9 col-xs-9" style="">
                                <div class="col-lg-5">

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4" style="border: solid 1px;border-radius: 33px;">
                                    <button id="btnView_load" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl" style=" background-color: #cccccc; margin-right: 10%;"><span class="adminpro-icon adminpro-download-arrow"></span>عرض الوحدات </button>
                                    <button id="btnExpenses" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl" style="background-color: #cccccc;"><span class="adminpro-icon  adminpro-download-arrow"></span>  عرض الكميات </button>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <button id="btnBack_1" type="button" class="btn btn-warning display_none"> @SystemResource.App_back <span class="glyphicon glyphicon-save"></span></button>
                                <button id="btnSave_1" type="button" class="btn btn-success display_none" style="margin-right:9%">@SystemResource.App_save <span class="glyphicon glyphicon-save"></span></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                                <button id="btnUpdate_1" type="button" class="btn btn-primary">@SystemResource.App_Update <span class="glyphicon glyphicon-edit"></span></button>
                            </div>
                        </div>
                        <br />
                        <div id="div_Master" class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes  ">رقم الصنف </label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                    <input type="text" class="form-control input-sm addable editable" name="ItemCode" disabled id="txtItemCode">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">

                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes  " style="padding-right:25px">وصف عربي</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="Itm_DescA" id="txtItm_DescA">
                                </div>

                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes textcentrProcesses2 ">وصف بالانجليزي </label>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="Itm_DescE" id="txtItm_DescE">

                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes  ">  الفئة  </label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                    <select id="txtCat_Type" name="CatID" class="form-control" disabled style='width: 100%;border-radius: 30px;'></select>
                                </div>
                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes  ">  الصنف الرئيسي   </label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                    <select id="txtFamily" name="FamilyCode" class="form-control" disabled style='width: 100%;border-radius: 30px;'></select>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  ">
                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes   ">  الرقم المرجعي    </label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="RefItemCode" id="txtRefItemCode">
                                </div>
                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes text_cent " style="padding-right:12px">مجموعة الوحدات </label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                    <input type="number" class="form-control input-sm addable editable" disabled name=" " id="txtGroupofUnits">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  ">

                                <label class="col-lg-1 col-xs-4   pading_2Processes text_cent " style="padding-right:12px">الوحدة الأساسية </label>
                                <div class="col-md-2 col-sm-5 col-xs-10">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="PolicyNo" id="txtPolice_num">
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">

                                <label class="col-lg-1 col-xs-4   pading_2Processes text_cent " style="padding-right:12px">التكلفة الافتتاحية </label>
                                <div class="col-md-2 col-sm-5 col-xs-10">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="CustomNo" id="txtCustomNo">
                                </div>

                                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  pading_2Processes  "> التكلفة الحالية </label>
                                <div class="col-md-2 col-sm-5 col-xs-10">
                                    <input type="text" class="form-control input-sm addable editable" disabled name="CustomNo" id="txtCustomNo">
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>

<div id="Div_Show_units" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred  borderred  display_none">
    <label id="Payload_data" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  labeltitel " style="margin-right: 20px;"><i id="spanlepRentdata_1" class="ifontowsam fa fa-caret-down" aria-hidden="true"></i>عرض الوحدات   </label>
    <div id="divlepRentdata_1" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12     ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8">
            </div>

        </div>
        <div id="DivShow" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  " style="overflow:auto ;">
            <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  font_header" style="bottom: 5px;font-weight:bold!important">
                <br />
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  text-center">
                    <span class="">الوحدة </span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  text-center">
                    <span class="">معامل التحويل </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">سعربيع تجزئة  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">اقل سعر بيع تجزئة </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">سعر بيع جملة</span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">اقل سعر بيع جملة </span>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <div class="row " id="div_Data">
                    </div>
                    <div class="col-lg-1" style="">
                        <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign display_none"></span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6" style="">

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<div id="Div_Show_Quantity" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred  borderred  display_none">
    <label id="Payload_data" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  labeltitel " style="margin-right: 20px;"><i id="spanlepRentdata_1" class="ifontowsam fa fa-caret-down" aria-hidden="true"></i>عرض الكميات  </label>
    <div id="divlepRentdata_1" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12     ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8">
            </div>

        </div>
        <div id="DivShow" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  " style="overflow:auto ;">
            <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  font_header" style="bottom: 5px;font-weight:bold!important">
                <br />
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  text-center">
                    <span class="">الوحدة </span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  text-center">
                    <span class="">معامل التحويل </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">سعربيع تجزئة  </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">اقل سعر بيع تجزئة </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">سعر بيع جملة</span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 text-center">
                    <span class="">اقل سعر بيع جملة </span>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <div class="row " id="div_Data">
                    </div>
                    <div class="col-lg-1" style="">
                        <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign display_none"></span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6" style="">

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<script src="~/ClientApp/StkDefinition/StkDefItemsNew.js"></script>