@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_StkDefItems;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row gy-3 " id="div_ContentData">
    <!-- Filter Container -->
    <div class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Men_StkDefStore</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drp_G_Store">
                                    <option value="null">@SystemResource.Men_StkDefStore</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.APP_Category</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drpPaymentType">
                                    <option value="null">@SystemResource.APP_Category</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Type</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drpitem_family">
                                    <option value="null">@SystemResource.App_Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.APP_Stoke</label>
                            <div class="col-8 ">
                                <select id="drp_StocK" class="form-control">
                                    <option value="All">@SystemResource.App_All</option>
                                    <option value=">"> @SystemResource.His_stoke</option>
                                    <option value="=">  @SystemResource.Zero_Stoke</option>
                                    <option value="<"> @SystemResource.Exposed_balance</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table  -->
    <div class="col-12 display_none" id="divShow">
        <div class="inside-table my-4">
            <div class="table-responsive">
                <table class="table table-borderless ">
                    <thead>
                        <tr id="div_Data_devolte">
                            <th style="width: 3%"></th>
                            <th style="width: 5%"> @SystemResource.App_Code </th>
                            <th style="width: 10%"> @SystemResource.App_DescA</th>
                            <th style="width: 10%">@SystemResource.APP_Category </th>
                            <th style="width: 10%"> @SystemResource.App_Type</th>
                            <th style="width: 5%">@SystemResource.App_AvailableQuantity</th>
                            <th style="width: 5%" >@SystemResource.App_Price</th>
                            <th style="width: 5%">@SystemResource.App_LessPrice</th>
                            <th style="width: 5%">@SystemResource.App_MeasuringUnit</th>
                            <th style="width: 10%">@SystemResource.App_DescE</th>
                            <th style="width: 3%"> فعال ؟ </th>
                        </tr>
                    </thead>
                    <tbody id="div_Data"></tbody>

                </table>
                <div class="d-flex justify-content-start mr-1">
                    <span id="btnAddDetails" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>




@*<div class="panel-body" id="div_ContentData">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-1 pad_">
                    <label class=" style_pading_lepel2 ">@SystemResource.Men_StkDefStore</label>
                </div>
                <div class="col-lg-3">
                    <select id="drp_G_Store" class="form-control">
                    <option value="null">@SystemResource.Men_StkDefStore</option>
                    </select>
                </div>
            <div class="col-lg-1 pad_">
                    <label class=" style_pading_lepel2 ">@SystemResource.APP_Category</label>
                </div>
                <div class="col-lg-3">
                    <select id="drpPaymentType" class="form-control">
                    <option value="null">@SystemResource.APP_Category</option>
                    </select>
                </div>
            <div class="col-lg-1 pad_">
                    <label class=" style_pading_lepel2 ">@SystemResource.App_Type</label>
                </div>
                <div class="col-lg-3">
                    <select id="drpitem_family" class="form-control"><option value="null">@SystemResource.App_Type</option></select>
                </div>


        </div>
        <div class="col-lg-12">
            <div class="col-lg-1 pad_">
                <label class=" style_pading_lepel2 ">@SystemResource.APP_Stoke</label>
            </div>
            <div class="col-lg-3">
                <select id="drp_StocK" class="form-control">
                    <option value="All">@SystemResource.App_All</option>
                    <option value=">"> @SystemResource.His_stoke</option>
                    <option value="=">  @SystemResource.Zero_Stoke</option>
                    <option value="<"> @SystemResource.Exposed_balance</option>

                </select>
            </div>
            <div class="col-lg-4 pad_">

            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info" id="btnShow">
                    @SystemResource.App_Show  <span class="glyphicon glyphicon-save "></span>
                </button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-warning display_none" id="btnback">
                    <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_back
                </button>

                <button id="btnsave" type="button" class="btn btn-success display_none">
                    @SystemResource.App_save    <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>

                <button type="button" class="btn btn-primary" id="btnedite">
                    <span class="glyphicon glyphicon-edit"></span> @SystemResource.App_Update
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-12">

            <style>
                #div_Data .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding: 2px !important;
                    padding-right: 2px !important;
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }

                #div_Data_devolte .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding: 2px !important;
                    padding-right: 2px !important;
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }
            </style>

            <div class="col-lg-12" style="overflow:scroll;height:600px">
                <div class="col-lg-12" id="div_Data_devolte">
                    <div class="col-lg-1 pad_"><label class=" style_pading_lepel  ">@SystemResource.App_Code</label></div>
                    <div class="col-lg-3 pad_"><label class=" style_pading_lepel position_DescA position_lepelcAE">@SystemResource.App_DescA</label></div>
                    <div class="col-lg-1 pad_"><label class="style_pading_lepel">@SystemResource.APP_Category</label></div>
                    <div class="col-lg-1 pad_"><label class="style_pading_lepel">@SystemResource.App_Type</label></div>
                    <div class="col-lg-2 pad_"><label class=" style_pading_lepel ">@SystemResource.App_ReferenceNumber</label></div>
                    <div class="col-lg-1 pad_"><label class="  style_pading_lepel">@SystemResource.App_AvailableQuantity</label></div>
                    <div class="col-lg-1 pad_"><label class="  style_pading_lepel2">@SystemResource.App_Price</label></div>
                    <div class="col-lg-1 pad_"><label class="  style_pading_lepel2">@SystemResource.App_LessPrice</label></div>
                    <div class="col-lg-1 pad_  "><label class=" style_pading_lepel ">@SystemResource.App_MeasuringUnit</label></div>

                </div>
                <div class="col-lg-4 position_DescEStkDefItems ">
                    <div class="col-lg-8 pad_"><label class=" style_pading_lepel position_DescEA position_lepelcEE  ">@SystemResource.App_DescE</label></div>
                    <div class="col-lg-4  " style="TEXT-ALIGN: center;"><label class=" style_pading_lepel position_DescEA position_lepelcEE  ">فعال ؟</label></div>

                </div>
                <div class="col-lg-12 " id="div_Data">

                </div>
                <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign  display_none"></span>

            </div>

        </div>

    </div>
</div>*@

@section Script{
<script src="~/ClientApp/StkDefinition/StkDefItems.js"></script>
}

