@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;

    Layout = "~/Views/Shared/Layout.cshtml";}
@*from 30-8 4:4PM*@
@*<style>
        .disabledDiv {
            pointer-events: none;
            opacity: 0.4;
        }

        #div_Data .col-lg-1 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        #DivChargesShow .col-lg-1 {
            padding-right: 1px !important;
            padding-left: 1px !important
        }

        #DivChargesShow .col-lg-2 {
            padding-right: 1px !important;
            padding-left: 1px !important
        }


        .display_none {
            display: none !important;
        }

        #btnAddDetails {
            font-size: 40px;
        }

            #btnAddDetails:hover {
                color: #24b414;
            }

        .btnplasandmines {
            display: inline-block;
            padding: 2px 4px;
            height: 36px;
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 400;
            line-height: 1.428571;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            font-weight: bold;
        }




        .btnplasandmines {
            display: inline-block;
            padding: 2px 4px;
            height: 36px;
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 400;
            line-height: 1.428571;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            font-weight: bold;
        }

        .fontitm3 {
            float: right;
            margin: 5px -10px 0px 0px !important;
            font-size: 25px !important;
            z-index: 999 !important;
            position: absolute;
        }

        .fontitm4 {
            float: right;
            margin: 5px 0px 0px 0px !important;
            font-size: 25px !important;
            position: absolute;
            z-index: 999 !important;
        }

        #btnAddHeaderControls {
            font-size: 35px;
        }

            #btnAddHeaderControls:hover {
                color: #24b414;
            }

        #btnAddChildControls {
            font-size: 31px;
            right: .8% !important;
        }

            #btnAddChildControls:hover {
                color: #24b414;
            }



        .glyphicon-remove-sign:hover {
            color: red
        }

        .pading_ {
            padding-right: 0px !important;
            padding-left: 0px !important
        }

        .popu {
            position: fixed;
            /* top: 22%; */
            /* height: 25%; */
            width: 100%;
            /* margin-right: 23%; */
            border: solid 1px #f3f3f3 !important;
            border-radius: 30px;
            padding: 12px 11px;
            background-color: #e3e3e3 !important;
            box-shadow: 0px 4px 6px 0;
        }

        .List_MinUnitPrice_in_poup_pass {
            display: block;
            margin-top: -52%;
            background-color: beige;
            border-radius: 16px;
            width: 191%;
            height: 146px;
            overflow-y: scroll;
        }

            .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar {
                width: 10px;
            }

            .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-track {
                background: #f1f1f1;
                background-color: beige;
                /*border-radius: 16px;*/
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
            }

            .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 16px;
            }

                .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

        .st_border_li_List_MinUnitPrice {
            width: 100% !important;
            border-bottom: solid 1px !important;
            padding: 2px 7px 3px 4px !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            font-weight: bold !important;
            font-size: 15px;
        }

        .col-lg-1 {
        }

        .left_right {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .fontitm3 {
            float: right;
            margin: 5px 8px 0px 0px !important;
            font-size: 25px !important;
            position: absolute;
        }
    </style>*@

<div class="row gy-3 ">
    <div class="col-12" id="cotrolDiv">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control"  name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_State</label>
                            <div class="col-8 ">
                                <select id="drpSrchStatus" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Inv_ImportInvoice</label>
                            <div class="col-8 ">
                                <select id="drpImportInvoiceFilter" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divMasterGridiv">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="txtSearch" name="" type="text" class="form-control" placeholder=" @SystemResource.App_srch ">
                        </div>
                    </div>
                    <!-- Table  -->
                    <table id="divMasterGrid"></table>
                </div>
            </div>
        </div>
      <!-- Details Container -->
        <div id="rowData" class="row">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0 display_none" id="divDetails">
                        @* Details *@
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.Inv_MenuNo  </label>
                                        <div class="col-8">
                                            <input type="number" class="form-control" name="JOURNAL_NO" id="txtMenuNum" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 display_none">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0">@SystemResource.Inv_ImportInvoice</label>
                                        <div class="col-8 ">
                                            <input type="checkbox" class="checkbox" id="chk_ImportInvoiceDetail" disabled name="CUSTOM6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_total  </label>
                                        <div class="col-8">
                                            <input type="number" class="form-control" name="TOTAL" id="txtInvTotal" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 ">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0">@SystemResource.App_Close</label>
                                        <div class="col-8 ">
                                            <input type="checkbox" class="checkbox" id="chkClosed" name="CUSTOM6" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.Trns_RefNum  </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="TR_NO" id="txtRefNum" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_date  </label>
                                        <div class="col-8">
                                            <input type="date" class="form-control" name="TR_DATE" id="txtTR_DATE" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Tax  </label>
                                        <div class="col-8">
                                            <input type="number" class="form-control" name="Vat" id="txtVat" disabled>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Salesman  </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="" id="txtPerson" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Registration_Number  </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="JOURNAL_NO " id="txtVoucherNo" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.Discount  </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="" id="txtDiscountValue" disabled>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group row g-0">
                                        <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Notes  </label>
                                        <div class="col-8 col-md-10">
                                            <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemark" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-group row g-0">
                                        <label class="col-4 align-self-center p-md-0"> @SystemResource.net  </label>
                                        <div class="col-8">
                                            <input type="number" class="form-control" name="NetATax" id="txtNet" disabled>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Editors Details -->
                        <div class="insettext row editor-details">
                            <div class="col-12 col-lg-6">

                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Create</label>
                                    <div class="col-4 col-xl-4 editor-input">
                                        <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">
                                        <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-xl-2 align-self-center"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-xl-4  editor-input">
                                        <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled>
                                    </div>
                                    <div class="col-4 col-xl-6 editor-input">

                                        <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  borderred">
   
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        
        <div id="rowData" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12   ">
            @*<div id="DivMassage" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred  borderred display_none">
                <h4 id="Text_Massage" style=""> @SystemResource.App_Message </h4>
            </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 display_none" id="divDetails">
          
                <div id="DivChargesShow" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont " style="overflow:auto;padding-right:20px!important ">
                    <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_header" style="bottom: 5px; right:0px;font-weight:bold;text-align:center">
                        <br />
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span style="text-align:end;" class="">  @SystemResource.serial </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">  @SystemResource.App_DocumentNo </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span style="text-align:end;" class="">   @SystemResource.App_InvNum</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">  @SystemResource.VendCode</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                            <span class=""> @SystemResource.App_Name</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class=""> @SystemResource.App_Cash</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">@SystemResource.App_date</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_total</span>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 col-xs-10" style="position:absolute;right:99%">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                                <span class="">  @SystemResource.App_Tax </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                                <span class="">  @SystemResource.Discount </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end!important">
                                <span class="">  @SystemResource.App_Net </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class="">@SystemResource.p_account_number</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class=""> @SystemResource.Account_name  </span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <span class=""> @SystemResource.InvoiceDesc  </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div id="divData_Header">
                        </div>
                        <span id="btnAddHeaderControls" class="glyphicon glyphicon-plus-sign" style="font-size: 31px;"></span>
                    </div>
                </div>
                <div id="DivChargesShow2" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont display_none " style="overflow:auto ;">
                    <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_header" style="bottom: 5px; right:0px;font-weight:bold;text-align:center">
                        <br />
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span class="">@SystemResource.App_serial</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span class=""> @SystemResource.Inv_ServiceCode </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">@SystemResource.App_Name</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Quantity</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class=""> @SystemResource.App_Price</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_total</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.VatPrc</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Tax</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Net</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8" style="position:absolute;right:83%">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <span class="">@SystemResource.Costcenter_name  </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class="">@SystemResource.App_Name</span>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                                <span class="">@SystemResource.partexplanation</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 " id="div_Data">
                            </div>
                            <span id="btnAddChildControls" class="glyphicon glyphicon-plus-sign"></span>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
@*<style>
        #divMasterGrid {
            width: 100% !important
        }
    </style>*@
@section Script{
    <script src="~/ClientApp/servicesystem/ServPurInvoice.js"></script>
}