@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;

    Layout = "~/Views/Shared/Layout.cshtml";}
@*from 30-8 4:4PM*@
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    #div_Data .col-lg-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #DivChargesShow .col-lg-1 {
        padding-right: 1px !important;
        padding-left: 1px !important
    }

    #DivChargesShow .col-lg-2 {
        padding-right: 1px !important;
        padding-left: 1px !important
    }


    .display_none {
        display: none !important;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }




    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }

    .fontitm3 {
        float: right;
        margin: 5px -10px 0px 0px !important;
        font-size: 25px !important;
        z-index: 999 !important;
        position: absolute;
    }

    .fontitm4 {
        float: right;
        margin: 5px 0px 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
        z-index: 999 !important;
    }

    #btnAddHeaderControls {
        font-size: 35px;
    }

        #btnAddHeaderControls:hover {
            color: #24b414;
        }

    #btnAddChildControls {
        font-size: 31px;
        right: .8% !important;
    }

        #btnAddChildControls:hover {
            color: #24b414;
        }



    .glyphicon-remove-sign:hover {
        color: red
    }

    .pading_ {
        padding-right: 0px !important;
        padding-left: 0px !important
    }

    .popu {
        position: fixed;
        /* top: 22%; */
        /* height: 25%; */
        width: 100%;
        /* margin-right: 23%; */
        border: solid 1px #f3f3f3 !important;
        border-radius: 30px;
        padding: 12px 11px;
        background-color: #e3e3e3 !important;
        box-shadow: 0px 4px 6px 0;
    }

    .List_MinUnitPrice_in_poup_pass {
        display: block;
        margin-top: -52%;
        background-color: beige;
        border-radius: 16px;
        width: 191%;
        height: 146px;
        overflow-y: scroll;
    }

        .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar {
            width: 10px;
        }

        .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-track {
            background: #f1f1f1;
            background-color: beige;
            /*border-radius: 16px;*/
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
        }

        .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 16px;
        }

            .List_MinUnitPrice_in_poup_pass::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

    .st_border_li_List_MinUnitPrice {
        width: 100% !important;
        border-bottom: solid 1px !important;
        padding: 2px 7px 3px 4px !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        font-weight: bold !important;
        font-size: 15px;
    }

    .col-lg-1 {
    }

    .left_right {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .fontitm3 {
        float: right;
        margin: 5px 8px 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  borderred">
    <div id="DivFilter" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <input id="hd_InvoiceId" type="hidden" />
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_FromDate</label>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 pading_">
                <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtStartDate">
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive ">@SystemResource.App_ToDate</label>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 pading_">
                <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtEndDate">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 p-0">
                <label class=" col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.App_State</label>
                <select id="drpSrchStatus" name="" class="form-control col-xs-2 "></select>
                <label class="col-xs-2  marginstenig pading_lep  pading_2 text-center">@SystemResource.Inv_ImportInvoice</label>
                <select id="drpImportInvoiceFilter" name="" class="form-control col-xs-2 "></select>
                <button id="btnadd" type="button" class="btn btn-success" style="margin-right:3%">
                    @SystemResource.App_Add  <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
                <button id="btnShow" type="button" class="btn btn-info">@SystemResource.App_Show   <span class="glyphicon glyphicon-save"></span></button>
                <div class="btn-group ">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        @SystemResource.App_Print  <span class="glyphicon glyphicon-hand-down"></span>
                    </button>
                    <div class="dropdown-menu" role="menu" style="border-radius:15px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <button style="width:100%" id="btnPrint" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.App_Print    </button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <button style="width:100%" id="btnPrintTrview" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>  @SystemResource.Print_Report      </button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <button style="width:100%" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>   @SystemResource.Download_PDF     </button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <button style="width:100%" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span> @SystemResource.Download_EXCEL   </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divMasterGridiv" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred display_none ">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3" style="margin-bottom: 4px;margin-right: 27px;margin-top: 9px;">
            <input id="txtSearch" name="" type="text" class="form-control  text_Display" placeholder=" @SystemResource.App_srch ">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <table id="divMasterGrid"></table>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  display_none" id="divEdit">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 ckekPurOrder" style="position: absolute;top: 117%;">
                <label class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive ">  @SystemResource.App_Close </label>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6">
                    <input type="checkbox" class="checkbox" id="chkClosed" name="CUSTOM6" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                <button id="btnPrintReceive" type="button" class="btn btn-info  "> @SystemResource.App_PrintReceive  <span class="glyphicon"></span>  </button>
                @*<button id="btnPrintPurchaseDemand" type="button" class="btn btn-info  ">@SystemResource.App_PrintPurchaseDemand <span class="glyphicon"></span> </button>
                    <button id="btnPrntPrice" type="button" class="btn btn-warning  "> @SystemResource.App_PrintPrice <span class="glyphicon "></span></button>*@
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                <button id="btnBack" type="button" class="btn btn-warning display_none"> @SystemResource.App_back <span class="glyphicon glyphicon-backward"></span></button>
                <button id="btnSave" type="button" class="btn btn-success display_none "> @SystemResource.App_save <span class="glyphicon glyphicon-floppy-saved"></span></button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                <button id="btnUpdate" type="button" class="btn btn-primary display_none">  @SystemResource.App_Update <span class="glyphicon glyphicon-edit"></span></button>
            </div>
        </div>
        <div id="rowData" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12   ">
            <div id="DivMassage" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred  borderred display_none">
                <h4 id="Text_Massage" style=""> @SystemResource.App_Message </h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 display_none" id="divDetails">
                <div id="div_Master">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.Inv_MenuNo</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="number" class="form-control" name="JOURNAL_NO" id="txtMenuNum" disabled="disabled">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 pr-0 display_none">
                            <label class="col-lg-7 col-md-7 col-sm-7 col-xl-7 col-xs-7 marginstenig pading_lep  pading_2  ">@SystemResource.Inv_ImportInvoice</label>
                            <input type="checkbox" class="checkbox" id="chk_ImportInvoiceDetail" name="CUSTOM6" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive22 ">@SystemResource.App_total</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="number" class="form-control" name="TOTAL" id="txtInvTotal" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.Trns_RefNum </label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="text" class="form-control" name="TR_NO" id="txtRefNum" disabled="disabled">
                        </div>
                        <div class="col-xs-1">
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_date</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="date" class="form-control" name="TR_DATE" id="txtTR_DATE" disabled="disabled" style="font-size: 16px !important;">
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive22 ">@SystemResource.App_Tax  </label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="number" class="form-control" name="Vat" id="txtVat" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_Salesman</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                            <input type="text" class="form-control" name="" id="txtPerson" disabled="disabled" style="font-size: 16px !important;">
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">  @SystemResource.App_Registration_Number</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="text" class="form-control" name="JOURNAL_NO " id="txtVoucherNo" disabled="disabled">
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive22"> @SystemResource.Discount</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="text" class="form-control" name="" id="txtDiscountValue" disabled="disabled" style="font-size: 16px !important;">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12" id="divType">
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingSlsTrReturn">  @SystemResource.App_Notes  </label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6">
                            <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemark" value=""></textarea>
                        </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive22 "> @SystemResource.net</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <input type="number" class="form-control" name="NetATax" id="txtNet" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div id="DivChargesShow" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont " style="overflow:auto;padding-right:20px!important ">
                    <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_header" style="bottom: 5px; right:0px;font-weight:bold;text-align:center">
                        <br />
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span style="text-align:end;" class="">  @SystemResource.serial </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">  @SystemResource.App_DocumentNo </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span style="text-align:end;" class="">   @SystemResource.App_InvNum</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">  @SystemResource.VendCode</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                            <span class=""> @SystemResource.App_Name</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class=""> @SystemResource.App_Cash</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">@SystemResource.App_date</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_total</span>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 col-xs-10" style="position:absolute;right:99%">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                                <span class="">  @SystemResource.App_Tax </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                                <span class="">  @SystemResource.Discount </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end!important">
                                <span class="">  @SystemResource.App_Net </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class="">@SystemResource.p_account_number</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class=""> @SystemResource.Account_name  </span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <span class=""> @SystemResource.InvoiceDesc  </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div id="divData_Header">
                        </div>
                        <span id="btnAddHeaderControls" class="glyphicon glyphicon-plus-sign" style="font-size: 31px;"></span>
                    </div>
                </div>
                <div id="DivChargesShow2" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont display_none " style="overflow:auto ;">
                    <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_header" style="bottom: 5px; right:0px;font-weight:bold;text-align:center">
                        <br />
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span class="">@SystemResource.App_serial</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="text-align:end;">
                            <span class=""> @SystemResource.Inv_ServiceCode </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="">@SystemResource.App_Name</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Quantity</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class=""> @SystemResource.App_Price</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_total</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.VatPrc</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Tax</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            <span class="">@SystemResource.App_Net</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8" style="position:absolute;right:83%">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <span class="">@SystemResource.Costcenter_name  </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                                <span class="">@SystemResource.App_Name</span>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                                <span class="">@SystemResource.partexplanation</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 " id="div_Data">
                            </div>
                            <span id="btnAddChildControls" class="glyphicon glyphicon-plus-sign"></span>
                        </div>
                    </div>
                </div>
                <div id="divTotalSatistics" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 container-fluid margingred  ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Create </label>
                        <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">
                        <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2"> </div>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Update  </label>
                        <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom">
                        <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #divMasterGrid {
        width: 100% !important
    }
</style>
<script src="~/ClientApp/servicesystem/ServPurInvoice.js"></script>