@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}


<style>

    .display_none {
        display: none !important;
    } 

    .pading_lep {
        padding-right: 7px;
    } 
    .disabledDiv {
        pointer-events: none;
        opacity: 0.8;
    } 
    .glyphicon-remove-sign:hover {
        color: red
    }

    .LEPEL_padingright2 {
        padding-right: 39px !important;
    }

   
</style>
<div class="col-lg-9  " style="position:fixed!important;top:10%!important ;	">
    <div id="DivMassage" class="col-lg-12  display_none">

        <h4 id="Text_Massage" class="col-lg-10" style=""> رساله </h4>

    </div>
</div>
<div class="container-fluid">

    <div class="col-lg-12 margingred" id="div_ALLData">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <label class="col-lg-1 col-xs-4      pading_2LnkTransVoucher "> @SystemResource.App_SubSystem </label>
            <div class="col-lg-3 col-xs-8">
                <select id="drpuserType" class="form-control input-sm"></select>
            </div>
            <label class="col-lg-1 col-xs-4      pading_2LnkTransVoucher LEPEL_padingrightLnkTransVoucher"> @SystemResource.App_MovementType   </label>
            <div class="col-lg-3 col-xs-8">
                <select id="drpStatus" class="form-control input-sm">
                </select>
            </div>

            <div class="col-lg-1 pading_0">

            </div>
            <div class="col-lg-1"><button type="button" class="btn btn-info display_none" id="btnShow">@SystemResource.App_Show  <span class="glyphicon glyphicon-save "></span></button></div>
            <div class="col-lg-2 pading_0">

                <button id="btnback" type="button" class="  btn btn-warning  btn btn-custon-four primary-btn-cl display_none ">  @SystemResource.App_back  <span class="adminpro-icon adminpro-caret-down"></span></button>
                <button id="btnsave" type="button" class="  btn btn-success  btn btn-custon-four display_none ">  @SystemResource.App_save  <i class="fa fa-check-square-o"></i></button>
                <button id="btnedite" type="button" class="btn-edite btn btn-primary  ">   @SystemResource.App_Update <i class="fa fa-edit"></i>  </button>

            </div>

        </div>
        <div id="title_grid1" class="col-lg-12 border_gridCont display_none" style="overflow:scroll;height:655px">
            <div class="col-lg-12 ">
                <label class="col-lg-1 col-xs-2 pading_2">  @SystemResource.serial </label>
                <label class="col-lg-2 col-xs-2 pading_2">  @SystemResource.Name_Arabic </label>
                <label class="col-lg-3 col-xs-2 pading_2">  @SystemResource.Name_English </label> 
                <label class="col-lg-2 col-xs-6 pading_2">  @SystemResource.value  </label>
                <label class="col-lg-1 col-xs-4 pading_2">  @SystemResource.cred_deb  </label>
              
            </div>
            <div class="col-lg-12 labelgridLnkTransVoucher" style="position:absolute; ">
                <label class="col-lg-2 col-xs-4 pading_2">  @SystemResource.account_type   </label>
                <label class="col-lg-2 col-xs-4 pading_2">  @SystemResource.Fixed_account  </label>
                <label class="col-lg-2 col-xs-4 pading_2">  @SystemResource.Variable_account   </label>
                <label class="col-lg-2 col-xs-4 pading_2">  @SystemResource.Acc_bra   </label>
                <label class="col-lg-2 col-xs-4 pading_2">  @SystemResource.Center_type   </label>
                <label class="col-lg-1 col-xs-4 pading_2">  @SystemResource.Fixed_center   </label>

            </div>
            <div class="col-lg-8" style="position:absolute; left:-139.5%">

                <label class="col-lg-3 col-xs-4 pading_2">  @SystemResource.Variable_center  </label>
                <label class="col-lg-3 col-xs-4 pading_2">  @SystemResource.center_bra   </label>
                <label class="col-lg-3 col-xs-4 pading_2">  @SystemResource.Grouping  </label>
            </div>
                <div class="col-lg-12" id="div_Data">

                </div>

                <span id="btnAddDetails" class=" btnAddDetailsLnkTransVoucher glyphicon glyphicon-plus-sign display_none"></span>
            </div>

            <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">

                <h4 id="Text_Massage" style="">  @SystemResource.App_Message </h4>

            </div>

            <br />
            <br />

        </div>
</div> 

 <script src="~/ClientApp/Tools/LnkTransVoucher/LnkTransVoucher.js"></script>