@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_SlsTrReturn;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3 ">
    <!-- Filter Container -->
    <div id="div_hedr" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Trns_Store</label>
                            <div class="col-8 ">
                                <select class="form-control" id="drp_Store"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="FromDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="ToDate" id="txtToDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0"> @SystemResource.Choose_Status</label>
                            <div class="col-8 ">
                                <select id="ddlstatus" name="" class="form-control">
                                    <option value="0">@SystemResource.App_Not_Certified</option>
                                    <option value="1">@SystemResource.App_Certified</option>
                                    <option value="null">@SystemResource.App_All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divShow">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <!-- Table  -->
                    <div id="divGridDetails"></div>
                </div>
            </div>

        </div>
        <!-- Details  -->
        <div id="divTransferDetails" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0">
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Trns_TrNO</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtTrNo" name="TrNo">
                                    <input type="hidden" class="  form-control " disabled id="hd_CollectID" name="CollectID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_date </label>
                                <div class="col-9 col-md-8">
                                    <input disabled type="date" class="form-control" name="TrDate" id="txtTransferDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 ">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_approved</label>
                                <div class="col-2 col-md-8">
                                    <input type="checkbox" class="checkbox" id="chkStatus">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0 ">
                                <label id="LabtxtRemarks" class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.App_Notes </label>
                                <div class="col-9 col-md-8 ">
                                    <textarea rows="2" type="text" class="form-control" disabled name="Remark" id="txtRemarks"> </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Inv_LabourCost</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtLabourCost" name="LabourCost">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Inv_MaterialCost</label>
                                <div class="col-9 col-md-8 ">
                                    <input disabled type="text" class="form-control" id="txtMaterialCost" name="MaterialCost">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            @* Switch Button Div *@
            <div class="col-lg-12 mb-n3">
                <div class=" d-flex justify-content-start">
                    <div id="btndiv_1">
                        <a class="btn btn-main ms-3" id="btndiv_11" href="#"> المدخلات </a>
                    </div>
                    <div id="btndiv_2" class="border_li">
                        <a class="btn btn-main" id="btndiv_22" href="#"> المخرجات </a>
                    </div>
                </div>
            </div>
            <!-- Show  div-1 of input -->
            <div id="div_1" class="col-lg-12">
                <div class="card bg-light-blue px-4 mb-4">
                    <div class="form-group pt-3">
                        <label class="align-self-center p-md-0 " id="lepfarest">
                            <i class="fas fa-angle-double-left"></i>
                            @SystemResource.Inv_Inputs
                        </label>
                    </div>
                    <!-- Inside Table  -->
                    <div class="inside-table my-4" id="divInputs">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th style="width: 2%"></th>
                                        <th style="width: 3%"></th>
                                        <th style="width: 10%"> @SystemResource.Itm_ItemCode</th>
                                        <th style="width: 15%"> @SystemResource.TransDesc</th>
                                        <th style="width: 10%"> @SystemResource.Itm_Uom</th>
                                        <th style="width: 10%"> @SystemResource.App_Quantity</th>

                                    </tr>
                                </thead>
                                <tbody id="div_Data"></tbody>

                            </table>
                            <div class="d-flex justify-content-start mr-1">
                                <span id="btnAddDetails" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Show  div-2 of output -->
           <div id="div_2" class="col-lg-12">
                <div class="card bg-light-blue px-4 mb-4">
                    <div class="form-group pt-3">
                        <label class="align-self-center p-md-0 " id="lepfarest">
                            <i class="fas fa-angle-double-left"></i>
                            @SystemResource.Inv_Outputs
                        </label>
                    </div>
                    <!-- Inside Table  -->
                    <div class="inside-table my-4" id="divInputs">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th style="width: 2%"></th>
                                        <th style="width: 3%"></th>
                                        <th style="width: 10%"> @SystemResource.Itm_ItemNum</th>
                                        <th style="width: 15%"> @SystemResource.TransDesc</th>
                                        <th style="width: 10%"> @SystemResource.App_Quantity</th>
                                        <th style="width: 10%"> @SystemResource.Inv_CostPrc</th>

                                    </tr>
                                </thead>
                                <tbody id="div_Data2"></tbody>

                            </table>
                            <div class="d-flex justify-content-start mr-1">
                                <span id="btnAddDetails2" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Editors Details -->
            <div class="insettext row editor-details">
                <div class="col-12 col-md-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Create</label>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                        </div>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group row g-0">
                        <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                        </div>
                        <div class="col-4 col-md-5 editor-input px-0">
                            <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Script{
    <script src="~/ClientApp/Inventory/CollectUnit.js"></script>
}


