@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_GenDefCustomerCat;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*<style>
        .inner tr td {
            border-top: none !important;
        }

        .style_pading {
            padding-left: 1px;
            padding-right: 1px;
        }

        .table_11 tr td:nth-child(3) {
            width: 200px;
        }

        .table_11 tr th:nth-child(12), .table_11 tr td:nth-child(12) {
            width: 120px;
        }

        .table_11 {
            margin-bottom: 0px;
        }

        .auto-style1 {
            background-color: #F5F5F5;
        }

        .display_none {
            display: none !important;
        }

        #btnAddDetails {
            font-size: 40px;
        }

            #btnAddDetails:hover {
                color: #24b414;
            }

        #btnAddDetails2 {
            font-size: 40px;
        }

            #btnAddDetails2:hover {
                color: #24b414;
            }

        #btnAddDetails3 {
            font-size: 40px;
        }

            #btnAddDetails3:hover {
                color: #24b414;
            }

        .glyphicon-remove-sign:hover {
            color: red
        }

        .minus_btn {
        }
    </style>*@
<div class="row gy-3" id="divnotifications">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8">
                                <input id="txtFromDate" name="" type="date" data-date="MMMM-DD-YYYY" data-date-format="MMMM-DD-YYYY" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input id="txtToDate" name="" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" name="reptype" id="rpSummary" checked>
                                            <label class="form-check-label" for="rpSummary"> @SystemResource.Summary </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" id="rpDetail" name="reptype">
                                            <label class="form-check-label" for="rpDetail"> @SystemResource.Detailed</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.p_account_number </label>
                            <div class="col-9 col-md-8">
                                <div class="search-content">
                                    <input id="txtAccountCode" name="" type="text" class="form-control" >
                                    <button type="button" id="btnAccountSearch" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0">
                            <label class="align-self-center p-md-0"></label>
                            <div class="col-12">
                                <input name="GosiJoinDate" id="txtAcountName" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" naname="price" id="rdAccount" checked>
                                            <label class="form-check-label" for="rdAccount"> @SystemResource.account_distribution </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" id="rdCostCntr" name="price">
                                            <label class="form-check-label" for="rpDetail"> @SystemResource.BU</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.BU_Number </label>
                            <div class="col-9 col-md-8">
                                <div class="search-content">
                                    <input id="txtCCcode" name="" type="text" class="form-control">
                                    <button type="button" id="btnCostCntrSearch" name="ColSearch" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0">
                            <label class="align-self-center p-md-0"></label>
                            <div class="col-12">
                                <input id="txtCCName" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Hide_ZeroData</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input" type="checkbox" id="chkHideZeros" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Includevalidatedentries</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input" type="checkbox" id="chkIsAuthVchr" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check row g-0">
                                            <label class="col-6 col-md-6  form-check-label align-self-center p-md-0" for="chk_Certified"> @SystemResource.Inclusionnewrestrictions</label>
                                            <div class="col-6 col-md-6 ">
                                                <input class="form-check-input" type="checkbox" id="chkIsNewVchr" name="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Script{
    <script src="~/ClientApp/costcenter/CcdtAccState.js"></script>
    }
