@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.costsubcenters;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3">
      <!-- Details  Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divMasterGridiv">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <!-- Details Side Icon Bar -->
                    <div class="div-iconbar">
                        <button class="icon-bar2 d-flex justify-content-between btn-Add" id="btn_Add">
                            <i class="fas fa-folder-plus fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_Add</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-Update" id="btn_Update">
                            <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-Save " id="btn_Save">
                            <i class="fas fa-save fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-Back " id="btn_Back">
                            <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-Delete " id="btnDelete">
                            <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">   @SystemResource.App_Delete</span>
                        </button>
                    </div>
                    <div class="row" id="divGrid">
                        <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                            <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                            <div class="col-8 col-lg-8 col-md-10">
                                <input id="searchbutmemreport" type="text" class="form-control" placeholder="@SystemResource.Search ">
                            </div>
                        </div>
                        <!-- Table  -->
                        <div class="col-12">
                            <div id="divMasterGrid"></div>
                        </div>
                    </div>

                    <!-- Details  -->
                    <div id="div_Master" class="col-12 mt-4">
                        <div class="row g-0">
                            <div class="col-12 col-md-2">
                                <div class="form-group row g-0">
                                    <label class="col-3 col-md-4  align-self-center p-md-0">@SystemResource.App_Code</label>
                                    <div class="col-9 col-md-8 ">
                                        <input type="text" class="form-control" disabled name="CCDT_TYPE" id="txtCCDT_TYPE">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="form-group row g-0">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_DescA</label>
                                    <div class="col-9  ">
                                        <input type="text" class="form-control" disabled name="DescA" id="txtDescA">

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="form-group row g-0">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_DescE</label>
                                    <div class="col-9  ">
                                        <input type="text" class="form-control" disabled name="DescE" id="txtDescE">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-5 offset-md-2">
                                <div class="form-group row g-0">
                                    <label class="col-3 align-self-center p-md-0">@SystemResource.App_Notes</label>
                                    <div class="col-9  ">
                                        <input type="text" class="form-control" disabled name="Remarks" id="txtRemarks">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  ACC -->
        <div id="div_ACC">
            <div class="card bg-light-blue mt-3">
                <div class="card-body">
                    @* Title *@
                    <label id="lepContentData" class="text-blue fw-bold mb-3">
                        <i id="spanlepContentData" class="fas fa-angle-double-left"></i>
                        @SystemResource.Linked_accounts
                    </label>

                    <!-- Details Side Icon Bar -->
                    <div class="div-iconbar">
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-update" id="btnEditAcc">
                            <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-save " id="btnSaveAcc">
                            <i class="fas fa-save fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-back " id="btnBackAcc">
                            <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                        </button>
                    </div>
                    <!-- Details  -->
                    <div id="div_ContentData">
                        <!-- Custom Table  -->
                        <div class="custom-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%"></th>
                                            <th style="width: 10%"> @SystemResource.p_account_number</th>
                                            <th style="width: 20%"> @SystemResource.App_DescA</th>
                                        </tr>
                                    </thead>
                                    <tbody id="div_Data"></tbody>

                                </table>
                                <div class="d-flex justify-content-start mr-1">
                                    <span id="btnAddDetails" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  CCDT -->
        <div id="divCCDT">
            <div class="card bg-light-blue mt-3">
                <div class="card-body">
                    @* Title *@
                    <label id="lepContentData2" class="text-blue fw-bold mb-3">
                        <i id="spanlepContentData2" class="fas fa-angle-double-left"></i>
                        @SystemResource.SubCenters
                    </label>

                    <!-- Details Side Icon Bar -->
                    <div class="div-iconbar">
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-update" id="btnEditCCDT">
                            <i class="fas fa-edit fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_Update</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-save " id="btnSaveCCDT">
                            <i class="fas fa-save fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">  @SystemResource.App_save</span>
                        </button>
                        <button class="icon-bar2 d-flex justify-content-between display_none btn-back " id="btnBackCCDT">
                            <i class="fas fa-backspace fa-fw side-icon ms-1"></i>
                            <span class="align-self-center mb-3">   @SystemResource.App_back</span>
                        </button>
                    </div>
                    <!-- Details  -->
                    <div id="div_ContentData2">
                        <!-- Custom Table  -->
                        <div class="custom-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%"></th>
                                            <th style="width: 10%"> @SystemResource.App_Code</th>
                                            <th style="width: 20%"> @SystemResource.App_DescA</th>
                                            <th style="width: 20%"> @SystemResource.App_DescE</th>
                                        </tr>
                                    </thead>
                                    <tbody id="div_Data2"></tbody>

                                </table>
                                <div class="d-flex justify-content-start mr-1">
                                    <span id="btnAddDetails2" class="mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Script{
    <script>
        $('#lepContentData').on('click', function () {
            $('#div_ContentData').toggleClass('showdiv');
            $('#spanlepContentData').toggleClass('fa-angle-double-left');
            $('#spanlepContentData').toggleClass('fa-angle-double-down');
        });
        $('#lepdContentData2').on('click', function () {
            $('#div_ContentData2').toggleClass('showdiv');
            $('#spanlepContentData2').toggleClass('fa-angle-double-left');
            $('#spanlepContentData2').toggleClass('fa-angle-double-down');
        });
    </script>
    <script src="~/ClientApp/costcenter/Dtcostcenter.js"></script>
}