@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    #div_Data .col-xs-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #DivChargesShow .col-xs-1 {
        padding-right: 1px !important;
        padding-left: 1px !important
    }

    #DivChargesShow .col-xs-2 {
        padding-right: 1px !important;
        padding-left: 1px !important
    }


    .display_none {
        display: none !important;
    }



    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }

    .fontitm3 {
        float: right;
        margin: 5px -10px 0px 0px !important;
        font-size: 25px !important;
        z-index: 999 !important;
        position: absolute;
    }

    .fontitm4 {
        float: right;
        margin: 5px 0px 0px 0px !important;
        font-size: 25px !important;
        position: absolute;
        z-index: 999 !important;
    }

    #btnAddDetails {
        font-size: 35px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }

    #btnAddDetailsCharge {
        font-size: 35px;
        right: .8% !important;
    }

        #btnAddDetailsCharge:hover {
            color: #24b414;
        }

    .glyphicon-remove-sign:hover {
        color: red
    }

    .pading_ {
        padding-right: 0px !important;
        padding-left: 0px !important
    }
</style>
<script>
    $(document).ready(function () {
        // Initialize select2
        $("#ddlCashBox").select2();
        $("#ddlSalesman").select2();
        //  $("#ddlStateType").select2();
        $("#ddlSeller").select2();
        $("#ddlCustomer").select2();
        $("#ddlCustomer2").select2();
        // Read selected option
        $('#but_read').click(function () {
            var username = $('#ddlCashBox option:selected').text();
            var userid = $('#ddlCashBox').val();

            var username = $('#ddlSalesman option:selected').text();
            var userid = $('#ddlSalesman').val();

            var username = $('#ddlSeller option:selected').text();
            var userid = $('#ddlSeller').val();

            var username = $('#ddlCustomer option:selected').text();
            var userid = $('#ddlCustomer').val();

            var username = $('#ddlCustomer2 option:selected').text();
            var userid = $('#ddlCustomer2').val();
            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>
<div class="col-xs-12    borderred">
    <div id="DivFilter" class="col-xs-12">
        <div class="col-xs-12">
            <label class="col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.I_Vendor </label>
            <div class="col-xs-3">
                <select id="ddlVendorMaster" name="" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
            </div>
            <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive ">@SystemResource.App_FromDate</label>
            <div class="col-xs-2 pading_">
                <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtFromDate">
            </div>
            <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive ">@SystemResource.App_ToDate</label>
            <div class="col-xs-2 pading_">
                <input type="date" class="form-control input-sm  addable editable" name="GosiJoinDate" id="txtToDate">
            </div>
            <div class="col-xs-1">
                <button id="btnadd" type="button" class="btn btn-success">
                    @SystemResource.App_Add  <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>
            <div class="col-xs-1 pr-0 ">
                <button id="btnShow" type="button" class="btn btn-info float_left_right">@SystemResource.App_Show   <span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
        <div class="col-xs-12">
            <label class="col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.Men_AccDefSalesmen</label>
            <div class="col-xs-3">
                <select id="ddlSalesmanMaster" name="" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
            </div>
            <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive">@SystemResource.App_State</label>
            <div class="col-xs-2">
                <select id="ddlStateType" name="" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
            </div>
            <div class="col-xs-3">            </div>
            <div class="col-xs-2">
                <div class="col-xs-5">
                </div>
                <div class="btn-group floatleftPurOrder ">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        @SystemResource.App_Print  <span class="glyphicon glyphicon-hand-down"></span>
                    </button>
                    <div class="dropdown-menu" role="menu" style="border-radius:15px">
                        <div class="col-xs-12">
                            <button style="width:100%" id="btnPrint" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.App_Print    </button>
                        </div>
                        <div class="col-xs-12">
                            <button style="width:100%" id="btnPrintTrview" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>  @SystemResource.App_Print      </button>
                        </div>
                        <div class="col-xs-12">
                            <button style="width:100%" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>   @SystemResource.Download_PDF     </button>
                        </div>

                        <div class="col-xs-12">
                            <button style="width:100%" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span> @SystemResource.Download_EXCEL   </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divMasterGridiv" class="col-xs-12 p-0 display_none ">
        <div class="col-xs-3">
            <input id="searchbutmemreport" name="" type="text" class="form-control input-sm" placeholder=" @SystemResource.Search ">
        </div>
        <div class="col-xs-12 p-0 ">
            <table id="divMasterGrid"></table>
        </div>
    </div>
    <div id="divDetails" class="col-xs-12 p-0">
        <div class="col-xs-12 p-0 display_none " id="divEdit">
            <div class="col-xs-2 ckekPurOrder" style="position: absolute;top: 117%;">
                <label class="col-xs-6  marginstenig pading_lep  pading_2 text-end ">  @SystemResource.App_approved  </label>
                <div class="col-xs-6">
                    <input type="checkbox" class="checkbox" id="chkActive" name="CUSTOM6" />
                </div>
            </div>
            <div class="col-xs-4">            </div>
            <div class="col-xs-5">
                <button id="btnPrintReceive" type="button" class="btn btn-warning display_none"> @SystemResource.App_PrintReceive  <span class="glyphicon"></span>  </button>
                <button id="btnPrintPurchaseDemand" type="button" class="btn btn-warning display_none">@SystemResource.App_PrintPurchaseDemand <span class="glyphicon"></span> </button>
                <button id="btnPrntPrice" type="button" class="btn btn-warning display_none"> @SystemResource.App_PrintPrice <span class="glyphicon "></span></button>
            </div>
            <div class="col-xs-2 p-0">
                <button id="btnBack" type="button" class="btn btn-warning display_none"> @SystemResource.App_back <span class="glyphicon glyphicon-backward"></span></button>
                <button id="btnSave" type="button" class="btn btn-success display_none "> @SystemResource.App_save <span class="glyphicon glyphicon-floppy-saved"></span></button>
            </div>
            <div class="col-xs-1">
                <button id="btnUpdate" type="button" class="btn btn-primary ">  @SystemResource.App_Update <span class="glyphicon glyphicon-edit"></span></button>
            </div>
        </div>
        <div id="rowData" class="col-xs-12 display_none ">
                        <div id="DivMassage" class="col-xs-12  margingred  borderred display_none">
                <h4 id="Text_Massage" style=""> @SystemResource.App_Message </h4>
            </div>
            <div class="col-xs-12 ">
                <div id="MasterDropDowns">
                    <div class="col-xs-11">
                        <label class="col-xs-1   marginstenig pading_lep  pading_2  " style="font-size: 16px !important;">  @SystemResource.App_InvoiceNum  </label>
                        <label class="col-xs-2  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive" id="lblInvoiceNumber" style="font-size: 16px !important;"></label>
                        <div class="col-xs-3 name_subscribe">
                        </div>
                        <label style="    margin-right: -4%;" class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingSlsTrReturn">  @SystemResource.Men_PurOrder  </label>
                        <div class="col-xs-2">
                            <input type="number" class="form-control input-sm" disabled name="" id="txtPurOrderNum">
                        </div>
                        <div class="col-xs-1">
                            <button style=" left: 21%;" type="button" class="src-btn btn btn-warning" id="btnPurOrderSearch" name="InvoiceSearch">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_date</label>
                        <div class="col-xs-2">
                            <input type="date" class="form-control input-sm" name="" id="txtDateHeader" disabled="disabled" style="font-size: 16px !important;">
                        </div>
                        <div class="col-xs-2">                        </div>
                        <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2">  @SystemResource.Recieve_type </label>
                        <div class="col-xs-2">
                            <select id="ddlReciveTypeHeader" name="" disabled="disabled" class="form-control input-sm w-100" style='border-radius: 30px;'></select>
                        </div>
                        <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2 "> @SystemResource.App_Store</label>
                        <div class="col-xs-2">
                            <select id="ddlStoreHeader" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                    </div>
                    <br />
                    <div class="col-xs-12" id="divType">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2 textcentr_padingSlsTrReturn">  @SystemResource.I_Vendor  </label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" disabled name="" id="txtVendorName" value="">
                        </div>
                        <div class="col-xs-1">
                            <button style=" left: 21%;" type="button" class="src-btn btn btn-warning" id="btnVendorSearch">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <label class="col-xs-1 marginstenig pading_lep  pading_2  textcentr_padingPurTrReceive2"> @SystemResource.Pur_PaymentType</label>
                        <div class="col-xs-2">
                            <select id="ddlIsCash" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                        <label class="col-xs-1 marginstenig pading_lep  pading_2  textcentr_padingPurTrReceive2">@SystemResource.Vendor_invoice</label>
                        <div class="col-xs-2">
                            <input id="VendorRecieptID" type="text" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;' />
                        </div>
                    </div>
                    <div class="col-xs-12" id="divType">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.App_Salesman</label>
                        <div class="col-xs-3">
                            <select id="ddlSalesmanHeader" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                        <div class="col-xs-1">
                        </div>
                        <label class="col-xs-1 marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2"> @SystemResource.App_TaxType </label>
                        <div class="col-xs-2">
                            <select id="ddlTaxTypeHeader" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                        <label class="col-xs-1 marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2"> @SystemResource.App_Cashbox </label>
                        <div class="col-xs-2">
                            <select id="ddlCashBoxH" name="CashBoxID" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-1 marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2"> @SystemResource.Currency </label>
                        <div class="col-xs-2">
                            <select id="ddlCurrency" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;'></select>
                        </div>
                        <div class="col-xs-2">
                            
                        </div>
                        <label class="col-xs-1 marginstenig pading_lep  pading_2 textcentr_padingPurTrReceive2"> @SystemResource.TransferFactor </label>
                        <div class="col-xs-2">
                            <input id="txtCurrencyRate" type="number" name="" disabled="disabled" class="form-control input-sm" style='width: 100%;border-radius: 30px;' />
                        </div>
                    </div>
                </div>
                <div id="DivShow" class="col-xs-12 border_gridCont" style="overflow:auto ;">
                    <br /> 
                    <div id=" " class="col-xs-12 font_header" style="bottom: 5px;font-weight:bold!important">
                        <div class="col-xs-2">
                            <span class="">@SystemResource.App_Type</span>
                        </div>
                        <div class="col-xs-2">
                            <span class="">@SystemResource.App_Item</span>
                        </div>
                        <div class="col-xs-1 ">
                            <span class="">@SystemResource.purchase_quantity</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.App_returnQty</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.App_Price</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.App_total</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.LocalPrice</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.LocalTotal</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="">@SystemResource.App_Tax</span>
                        </div>
                        <div class="col-xs-1 p-0">
                            <span class="">@SystemResource.App_TotAfterTax</span>
                        </div>
                        <div class="col-xs-2 " style="position:absolute;right:100%">
                            <div class="col-xs-5 ">
                                <span class="">@SystemResource.I_Additions</span>
                            </div>
                            <div class="col-xs-7 p-0 ">
                                <span class="w-100"> @SystemResource.unit_after_adding</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0">
                        <div class="col-xs-12 p-0" id="div_Data">
                        </div>
                        <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign"></span>
                    </div>
                </div>
                <div id="DivChargesShow" class="col-xs-12 border_gridCont " style="overflow:auto ;">
                    <div id=" " class="col-xs-12 font_header" style="bottom: 5px; right:88px;font-weight:bold">
                        <br />
                        <div class="col-xs-1 App_serialPurTrReceive">
                            <span style="padding-right: 1px;" class="">@SystemResource.App_serial</span>
                        </div>
                        <div class="col-xs-1 App_addingPurTrReceive">
                            <span class="">@SystemResource.App_adding</span>
                        </div>
                        <div class="col-xs-1 add_typePurTrReceive">
                            <span class="">@SystemResource.add_type</span>
                        </div>
                        <div class="col-xs-1 valuePurTrReceive">
                            <span class=""> @SystemResource.value</span>
                        </div>
                        <div class="col-xs-2 App_TaxTypePurTrReceive">
                            <span class="">@SystemResource.App_TaxType</span>
                        </div>
                        <div class="col-xs-1 App_TaxPurTrReceive">
                            <span class="">@SystemResource.App_Tax</span>
                        </div>
                        <div class="col-xs-1 Value_after_taxPurTrReceive">
                            <span class="">@SystemResource.Value_after_tax</span>
                        </div>
                        <div class="col-xs-2 Cash_creditPurTrReceive">
                            <span class="">@SystemResource.Cash_credit</span>
                        </div>
                        <div class="col-xs-1 App_InvoiceNumPurTrReceive">
                            <span class="">@SystemResource.App_InvoiceNum</span>
                        </div>
                        <div class="col-xs-1 Invoice_DatePurTrReceive">
                            <span class="">@SystemResource.Invoice_Date</span>
                        </div>
                        <div class="col-xs-1 I_VendorPurTrReceive">
                            <span class="">@SystemResource.I_Vendor</span>
                        </div>
                        <div class="col-xs-1 App_CashboxPurTrReceive">
                            <span class="">@SystemResource.App_Cashbox</span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <div class="col-xs-12 " id="div_ChargesData">
                            </div>
                            <span id="btnAddDetailsCharge" class="glyphicon glyphicon-plus-sign"></span>
                        </div>
                    </div>
                </div>
                <div id="divTotalSatistics" class="col-xs-12 container-fluid margingred display_none">
                    <div class="col-xs-12  " id="divType">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.App_Notes</label>
                        <div class="col-xs-11">
                            <textarea type="text" class="form-control input-sm" name="" id="txtNotes" disabled="disabled" style="font-size: 16px !important;"></textarea>
                        </div>
                    </div>
                    <div id=" " class="col-xs-12  margingred  borderred ">
                        <div class="col-xs-12 ">
                            <table id="divGridDetails"></table>
                        </div>
                    </div>

                    <div class="col-xs-12 margingred">
                        
                        <div class="col-xs-4">

                        </div>
                        <label class="col-xs-3 bad_PurTrReceive  marginstenig pading_lep  pading_2  " style="text-align: center;"> @SystemResource.PurchaseWithLocalcurrency</label>
                        
                        <label class="col-xs-2 bad_PurTrReceive  marginstenig pading_lep  pading_2  ">@SystemResource.App_Adds</label>

                        <div class="col-xs-2">

                        </div>
                        <label class="col-xs-2 bad_PurTrReceive  marginstenig pading_lep  pading_2  "> @SystemResource.App_total</label>

                        <div class="col-xs-2">

                        </div>
                    </div>

                    <div class="col-xs-12 margingred">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  "> @SystemResource.App_ItemsCount</label>
                        <div class="col-xs-2">
                            <input type="text" disabled="disabled" class="form-control input-sm" name="" value="0" id="txtFamilyType">
                        </div>
                        <label class="col-xs-2 bad_PurTrReceive  marginstenig pading_lep  pading_2  ">@SystemResource.App_total</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTotal">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtAddons">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" value="0" disabled="disabled" name="" id="txtTotalPurchaseWithoutTax">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_PackageCount	</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtItemsNumber">
                        </div>
                        <label class="col-xs-2 bad_PurTrReceive marginstenig pading_lep  pading_2  ">@SystemResource.App_Tax</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTax">
                        </div>

                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtAddonsTax">
                        </div>

                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTotalTax">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.ForignTotal </label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtLocalTotalFooter">
                        </div>
                        <label class="col-xs-2 bad_PurTrReceive marginstenig pading_lep  pading_2  ">@SystemResource.TotalafterVat  </label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTotalFamily">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTotalAddons">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control input-sm" disabled="disabled" value="0" name="" id="txtTotalPurchaseWithTax">
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="col-xs-12">
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Pur </label>
                        <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled class="col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">
                        <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled class="col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
                        <div class="col-xs-2"> </div>
                        <label class="col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Update  </label>
                        <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled class="col-xs-1  marginstenig pading_lep  pading_2  borderbottom">
                        <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled class="col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/clientapp/purchase/purtrreceive.js"></script>
<style>
    #divMasterGrid {
        width: 100% !important
    }
</style>