@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrInvReceipt;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row gy-3 ">
    <!-- Filter Container -->
    <div id="DivFilter" class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Salesman</label>
                            <div class="col-9 col-md-8">
                                <select id="ddlSalesmanFilter" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row  d-flex justify-content-center align-items-center">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.process </label>
                            <div class="col-9 col-md-8">
                                <div class="search-content">
                                    <input type="text" class="form-control search-control" id="ddlOPerationMaster">
                                    <button type="button" id="btnOPerationSearch" name="Search" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row ">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.process_opened</label>
                            <div class="col-9 col-md-8">
                                <input type="checkbox" class="checkbox" id="chkOpenProcess" name="CUSTOM6" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Process_status</label>
                            <div class="col-9 col-md-8 ">
                                <input type="text" class="form-control" disabled name="OperationStatusMaster" id="txtOperationStatusMaster">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlCustomer" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row ">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-9 col-md-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row ">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-9 col-md-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_State</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlStateType" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_invoiceType</label>
                            <div class="col-9 col-md-8 ">
                                <select id='ddlInvoiceType' class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group row">
                            <label class="col-3 col-md-4 align-self-center p-md-0">البائع</label>
                            <div class="col-9 col-md-8 ">
                                <select id="ddlSalesPersonFilter" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divShow">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" type="text" class="form-control" placeholder=" @SystemResource.search_ins">
                        </div>
                    </div>
                    <!-- Table  -->
                    <div id="divGridDetails"></div>
                </div>
            </div>

        </div>
        <!-- Details  -->
        <div id="DivInvoiceDetails" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0">
                        @* Change Place *@
                        <div class="col-6 mb-3 ">
                            <div class="display_none ">
                                <button id="btnPrintslip" type="button" class="btn btn-main float-right ">
                                    <span class="align-self-center mb-3">  @SystemResource.App_Print_slip</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 display_none" id="div_btnUpdate">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_approved</label>
                                <div class="col-9 col-md-8">
                                    <input class="checkbox" type="checkbox" id="chkActive" disabled name="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @* Empty Div for Responsive *@
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_InvoiceNum</label>
                                <label class="col-9 col-md-8 text-right" id="lblInvoiceNumber"></label>

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_date</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="date" class="form-control" disabled name="" id="txtInvoiceDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_invoiceType </label>
                                <div class="col-9 col-md-8 ">
                                    <select id='ddlType' class="form-control" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_ReferenceNumber</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="RefNO" id="txtRefNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Cutomer </label>
                                <div class="col-9 col-md-8 ">
                                    <select id='ddlInvoiceCustomer' disabled class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 offset-3 offset-md-0 col-md-6 col-lg-3">
                            <div class="form-group ">
                                <input type="text" class="form-control" disabled name="" id="txtInvoiceCustomerName">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Salesman </label>
                                <div class="col-9 col-md-8 ">
                                    <select id="ddlSalesman" disabled class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">البائع </label>
                                <div class="col-9 col-md-8 ">
                                    <select id="ddlSalesPerson" disabled class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label id="LabCashMoney" class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_CashPaid</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="" id="txtCashMoney">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="form-group row ">
                                <label id="LabCardMoney" class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_CardPaid</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="" id="txtCardMoney">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row ">
                                <label class="col-3 col-md-1 align-self-center p-md-0">@SystemResource.App_Notes </label>
                                <div class="col-9 col-md-11 ">
                                    <textarea type="text" class="form-control" disabled name="Remark" id="txtRemarks"> </textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Inside Table  -->
                        <div class="inside-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th style="width: 2%"></th>
                                            <th style="width: 3%">@SystemResource.App_serial</th>
                                            <th style="width: 20%">@SystemResource.App_Item</th>
                                            <th style="width: 7%">@SystemResource.App_soldQty</th>
                                            <th style="width: 3%">@SystemResource.App_returnQty</th>
                                            <th style="width: 8%">@SystemResource.App_Price</th>
                                            <th style="width: 8%">السعر بالضريبه</th>
                                            <th style="width: 8%">@SystemResource.App_total</th>
                                            <th style="width: 3%">@SystemResource.tax_rate</th>
                                            <th style="width: 8%">@SystemResource.App_Tax</th>
                                            <th style="width: 8%">@SystemResource.App_Net</th>
                                        </tr>
                                    </thead>
                                    <tbody id="div_Data"></tbody>

                                </table>
                                <span id="btnAddDetails" class="d-flex mb-3 display_none"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                            </div>
                        </div>
                        <!-- Total Details -->
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_total</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="TotalAmount" id="txtTotal">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Tax</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="VatAmount" id="txtTax">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Net</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="NetAfterVat" id="txtNet">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_Commission</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="CommitionAmount" id="txtCommission">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_ItemsCount</label>
                                <div class="col-9 col-md-8">
                                    <input type="text" class="form-control" disabled name="Line_Count" id="txtItemCount">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row ">
                                <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.App_PackageCount</label>
                                <div class="col-9 col-md-8 ">
                                    <input type="text" class="form-control" disabled name="Tot_Qty" id="txtPackageCount">
                                </div>
                            </div>
                        </div>
                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Seller</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Popup_Passowrd" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div id="PopupBody" class=" modal-body col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 col-xs-12 ">
                <div id="popu_Passowrd" class="popu animated zoomInLeft" style="display:block;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <h2 id="id_Labol" style="text-align: center;">@SystemResource.enter_pass_for_sale</h2>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  ">

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <span class="" style="font-size: 22px;font-weight: bold;">@SystemResource.App_Password</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class=" col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                            <input id="txt_ApprovePass" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <button id="btn_Approveprice" type="button" class="btn btn-info " style="display:block;">
                                <span class="glyphicon glyphicon-download"></span> @SystemResource.App_approved
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <button id="btn_Exit_Approveprice" type="button" class="btn btn-info " style="background-color: brown;">
                                <span class="glyphicon glyphicon-remove"></span> @SystemResource.Cancel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                            <div id="" class="List_MinUnitPrice_in_poup_pass">
                                <ul id="Ul_List_MinUnitPrice"><li id="li_List_MinUnitPrice0" class="st_border_li_List_MinUnitPrice"> </li><li id="li_List_MinUnitPrice1" class="st_border_li_List_MinUnitPrice"> </li><li id="li_List_MinUnitPrice2" class="st_border_li_List_MinUnitPrice"> </li></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {

            $("#ddlCashBox").select2();
            $("#ddlInvoiceCustomer").select2();

            $("#ddlCustomer").select2();
            $("#ddlCustomer2").select2();
            $('#but_read').click(function () {


                var username = $('#ddlCashBox option:selected').text();
                var userid = $('#ddlCashBox').val();

                var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlSalesman').val();

                var username = $('#ddlCustomer option:selected').text();
                var userid = $('#ddlCustomer').val();

                var username = $('#ddlInvoiceCustomer option:selected').text();
                var userid = $('#ddlInvoiceCustomer').val();

                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
    <script src="~/ClientApp/Processes/ProcSalesMgr.js"></script>
}
