@using Inv.WebUI.Resources

@{
    ViewBag.Title = "فاتورة العمليات";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.7;
    }

    .display_none {
        display: none !important;
    }

    .textcentr_pading {
        padding-right: 45px !important;
    }

    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }
</style>
<link href="~/Style_design/Stylecheckbox.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        // Initialize select2
        $("#ddlCashBox").select2();
        $("#ddlSalesman").select2();
        //  $("#ddlStateType").select2();
        $("#ddlSeller").select2();
        $("#ddlCustomer").select2();
        $("#ddlCustomer2").select2();

        // Read selected option
        $('#but_read').click(function () {
            var username = $('#ddlCashBox option:selected').text();
            var userid = $('#ddlCashBox').val();

            var username = $('#ddlSalesman option:selected').text();
            var userid = $('#ddlSalesman').val();

            //var username = $('#ddlStateType option:selected').text();
            //var userid = $('#ddlStateType').val();

            var username = $('#ddlSeller option:selected').text();
            var userid = $('#ddlSeller').val();

            var username = $('#ddlCustomer option:selected').text();
            var userid = $('#ddlCustomer').val();

            var username = $('#ddlCustomer2 option:selected').text();
            var userid = $('#ddlCustomer2').val();

            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>
<div id="Men_Sales_1" class="col-lg-12    borderred ">
    @*<label id="lepReserved" class="col-lg-12 labeltitel "><span id="spanlepReserved" class="ifontowsam fa fa-caret-left"></span>     </label>*@
    <div class="container-fluid">
        <div class="row">
            <div id="informtionReserved" class="col-lg-12 margingred ">

                @*<div id="condtionbtn1" class="col-lg-9 col-xs-8">
                        <button id="btnChanege_1" type="button" class="btn btn-info " style="background-color: yellowgreen;">
                            <span class="glyphicon glyphicon-arrow-left" style="margin-top: -27px;"></span> تغير الشاشه
                        </button>
                    </div>*@
                <div id="condtionbtn2" class="col-lg-3 col-xs-8">



                    <button id="btnPrntPrice" type="button" class="btn btn-warning display_none">
                        <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_PrintPrice
                    </button>

                    <button id="btnPrint" type="button" class="btn btn-success display_none">
                        <span class="glyphicon glyphicon-save"></span> @SystemResource.App_Print
                    </button>

                    <button id="btnAdd" type="button" class="btn btn-success">
                      @SystemResource.App_Add  <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                    
                    <button id="btnShow" type="button" class="btn btn-info ">
                      @SystemResource.App_Show    <span class="glyphicon glyphicon-save"></span>
                    </button>

                    <button id="btnSave" type="button" class="btn btn-success  display_none">
                    @SystemResource.App_save  <span class="glyphicon glyphicon-floppy-saved"></span>
                    </button>
                    <button id="btnBack" type="button" class="btn btn-warning  display_none">
                        <span class="glyphicon glyphicon-save"></span> @SystemResource.App_back
                    </button>
                </div>

                <div id="General_Div">

                    <div class="col-lg-12 margingred ">
                        <div class="col-lg-12">
                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  "> @SystemResource.App_Salesman </label>
                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                <select id="ddlSalesmanMaster" name="" class="form-control" style='width: 100%;border-radius: 30px;'></select>
                            </div>

                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  ">العمليات المفتوحه حاليا </label>
                            <div class="col-lg-1 col-sm-3 col-xs-3">
                                <input type="checkbox" class="checkbox" id="chkOpenProcess" name="CUSTOM6" />
                            </div>

                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  "> العملية</label>
                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                <select id="ddlOPerationMaster" name="" class="form-control" style='width: 100%;border-radius: 30px;'></select>
                            </div>

                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  ">حالة العملية :</label>
                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  " id="lblOperationStatusMaster"></label>


                        </div>

                        <div class="col-lg-12">

                            <label class="col-lg-1 col-sm-3 col-xs-3 marginstenig pading_lep  pading_2  " style="font-size: 16px !important;">  @SystemResource.App_InvoiceNum  </label>
                            <label class="col-lg-2  col-sm-3 col-xs-3 marginstenig pading_lep  pading_2 textcentr_pading" id="lblInvoiceNumber" style="font-size: 16px !important;"></label>

                            <label class="col-lg-1 c col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading ">@SystemResource.App_date</label>

                            <div class="col-md-2  col-sm-3 col-xs-3  ">
                                <input type="date" class="form-control" name="" id="txtDate" style="font-size: 16px !important;">
                            </div>
                            <div class="col-sm-2 col-xs-10 name_subscribe">
                                <label id="lblMessage" style="font-size:16px;"> </label>
                            </div>
                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading ">  @SystemResource.App_approved  </label>
                            <div class="col-lg-1 col-sm-3 col-xs-3">
                                <input type="checkbox" class="checkbox" id="chkActive" name="CUSTOM6" />
                            </div>
                        </div>
                        <div class="col-lg-12">


                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  ">@SystemResource.App_Type</label>
                            <div class="col-lg-2 col-sm-3 col-xs-3">
                                <select id="ddlCashTypeMaster" class="form-control" name="" style='width: 100%; border-radius: 30px;'></select>
                            </div>

                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading ">@SystemResource.App_Cutomer</label>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="text" class="form-control" name="" id="txtCustomerNameMaster" style="font-size: 16px !important;">
                            </div>
                            <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading">@SystemResource.App_Mobile</label>


                            <div class="col-md-3  col-sm-3 col-xs-3">
                                <input type="number" class="form-control" name="" id="txtCustomerMobileMaster" style="font-size: 16px !important;">
                            </div>


                        </div>

                        <br />
                        <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading">  @SystemResource.App_Cutomer  </label>
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <select id='ddlCustomerMaster' class="form-control" disabled style='width: 100%;border-radius: 30px;'>
                                <option value="null">اختر العميل</option>
                            </select>
                        </div>



                        @*<label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 textcentr_pading"> @SystemResource.App_Store </label>
                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                <select id="ddlStore" name="" class="form-control" style='width: 100%;border-radius: 30px;'></select>
                            </div>*@





                        <br />
                        <br />
                    </div>
                    <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">

                        <h4 id="Text_Massage" style=""> رساله </h4>

                    </div>
                    <br />
                    <br />
                    <div id="DivShow">
                        <div id=" " class="col-lg-12 font_header ">
                            <br />

                            <div class="col-lg-2 col-sm-2 col-xs-2 header_1">


                                <span style="    padding-right: 1px;" class="">@SystemResource.App_Type</span>

                            </div>
                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <span class="">@SystemResource.App_Item</span>
                            </div>

                            <div class="col-lg-1 col-sm-1 col-xs-1" style="right: -33px">
                                <span class="">@SystemResource.App_Quantity</span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-xs-2" style="right: 33px">
                                <span class="">@SystemResource.App_Price</span>
                            </div>

                            <div class="col-lg-1 col-sm-1 col-xs-1">
                                <span class="">@SystemResource.App_total</span>

                            </div>
                            <div class="col-lg-1 col-sm-2 col-xs-2">
                                <span class="">@SystemResource.App_Tax</span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-xs-2" style="left:5px">
                                <span class="">@SystemResource.App_TotAfterTax</span>
                            </div>
                        </div>

                        <div class="row col-lg-12">
                            <div class="">

                                <div class="col-lg-12">
                                    <div class="row " id="div_Data">
                                    </div>
                                    <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign"></span>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row  " style="padding-top:50px">
                        <div class="col-lg-12 style_border " style="bottom: 5px; ">

                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <span class="textcentr_pading">@SystemResource.App_ItemsCount</span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <span class="textcentr_pading">@SystemResource.App_PackageCount</span>
                            </div>

                            <div class="col-lg-1 col-sm-1 col-xs-1">
                                <span class="textcentr_pading">@SystemResource.App_Commission</span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <span class="textcentr_pading">@SystemResource.App_total</span>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <span class="textcentr_pading">@SystemResource.App_Tax</span>

                            </div>
                            <div class="col-lg-1 col-sm-1 col-xs-1">
                                <span class="textcentr_pading">@SystemResource.App_Net</span>
                            </div>

                            <div class="col-lg-1 col-sm-2 col-xs-2">
                                <span class="textcentr_pading">@SystemResource.App_Cashbox</span>
                            </div>
                        </div>

                        <div id="div_BasicData" class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">


                                    <div class="col-lg-2 col-sm-2 col-xs-2">

                                        <input id="txtItemCount" name="" disabled type="number" class="form-control  text_Display">
                                    </div>

                                    <div class="col-lg-2 col-sm-2 col-xs-2">

                                        <input id="txtPackageCount" name="" disabled type="number" class="form-control  text_Display">
                                    </div>

                                    <div class="col-lg-1 col-sm-1 col-xs-1">

                                        <input id="txtCommission" name="" value="0" type="number" class="form-control  text_Display">
                                    </div>

                                    <div class="col-lg-2 col-sm-2 col-xs-2">

                                        <input id="txtTotal" name="" disabled type="number" class="form-control  text_Display">

                                    </div>

                                    <div class="col-lg-2 col-sm-2 col-xs-2">

                                        <input id="txtTax" name="" disabled type="number" class="form-control  text_Display">

                                    </div>

                                    <div class="col-lg-1 col-sm-1 col-xs-1">

                                        <input id="txtNet" name="" disabled type="number" class="form-control  text_Display">
                                    </div>

                                    <div class="col-lg-2 col-sm-2 col-xs-2">

                                        <select style="width:100%" id="ddlCashBox" name="" class="form-control  text_Display"></select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 display_none" id="divCreationPanel">
                        <label class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Create </label>
                        <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled class="col-lg-1 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2  borderbottom ">
                        <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled class="col-lg-2 col-sm-3 col-xs-3  marginstenig pading_lep  pading_2 style_borderbottom">
                        <div class="col-lg-2">
                        </div>
                           <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Update </label>
                            <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom">
                            <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled class="col-lg-2 col-xs-4  marginstenig pading_lep  pading_2 style_borderbottom">


                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="Popup_Passowrd" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div id="PopupBody" class=" modal-body col-lg-12 col-xs-12 ">
                    <div id="popu_Passowrd" class="popu animated zoomInLeft" style="display:block;">
                        <div class="col-lg-12">
                            <h2 id="id_Labol" style="text-align: center;">يجب ادخال الباسورد حتي تتم عملية البيع</h2>

                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-2 col-xs-4">

                            </div>
                            <div class="col-lg-5 col-xs-12">
                                <span class="" style="font-size: 22px;font-weight: bold;">Password</span>
                            </div>


                        </div>
                        <div class="col-lg-12">

                            <div class=" col-lg-1 col-xs-4">

                            </div>


                            <div class="col-lg-4 col-xs-3">
                                <input id="txt_ApprovePass" type="password" class="form-control">
                            </div>



                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-1 col-xs-5">

                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <button id="btn_Approveprice" type="button" class="btn btn-info " style="display:block;">
                                    <span class="glyphicon glyphicon-download"></span> اعتماد
                                </button>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <button id="btn_Exit_Approveprice" type="button" class="btn btn-info " style="background-color: brown;">
                                    <span class="glyphicon glyphicon-remove"></span> ألغاء
                                </button>
                            </div>


                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-5 col-xs-5">

                            </div>
                            <div class="col-lg-4 col-xs-5">
                                <div id="" class="List_MinUnitPrice_in_poup_pass">
                                    <ul id="Ul_List_MinUnitPrice"><li id="li_List_MinUnitPrice0" class="st_border_li_List_MinUnitPrice">-( بخارة ابيض افريقي 5 ك فله ) السعر (9) الحد (0350)</li><li id="li_List_MinUnitPrice1" class="st_border_li_List_MinUnitPrice">-( كاكا لبناني وسط 2 دور ) السعر (7) الحد (02550)</li><li id="li_List_MinUnitPrice2" class="st_border_li_List_MinUnitPrice">-( تفاح احمر صندوق سوري ) السعر (8) الحد (01250)</li></ul>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

</div> 
<script src="~/ClientApp/Processes/ProcSalesInvoice.js"></script>