
@using Inv.WebUI.Resources
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Viewresult{
    <button class="icon-bar d-flex justify-content-between reset " id="btnReset">
        <i class="fas fa-search-plus fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3"> @SystemResource.new_search</span>
    </button>
    <button class="icon-bar d-flex justify-content-between viewresult d-none" id="btnviewresult">
        <i class="fas fa-eye fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">   @SystemResource.Preview_results </span>
    </button>
    <button class="icon-bar d-flex justify-content-between display_none" id="btnPrint">
        <i class="fas fa-eye fa-fw side-icon ms-1"></i>
        <span class="align-self-center mb-3">   @SystemResource.App_Print </span>
    </button>

}
<label for="rpTitle" style="display:none" id="rpTitle">@*@SystemResource.Rep_PayRecieptList*@</label>
<div class="row gy-3" id="content_report">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" id="informtionReserved">
            <div class="card-body" id="id_div_Add" >
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate </label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="txtFromDate" id="txtFromDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row">
                            <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                            <div class="col-8">
                                <input type="date" class="form-control" name="txtToDate" id="txtToDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.Pur_PaymentType</label>
                            <div class="col-8 ">
                                <select id="txt_PaymentType" name="" class="form-control">
                                    <option value="0">@SystemResource.App_credit</option>
                                    <option value="1">@SystemResource.Cash</option>
                                    <option value="2">@SystemResource.App_All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row ">
                            <label class="col-2 align-self-center p-md-0"> @SystemResource.Inv_SalesTp</label>
                            <div class="col-10 special-group pt-0">
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="InvTp1" name="InvTp" value="1">
                                    <label class="form-check-label" for="InvTp1"> @SystemResource.Invoice </label>
                                </div>
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="InvTp2" name="InvTp" value="1">
                                    <label class="form-check-label" for="InvTp2"> @SystemResource.process</label>
                                </div>
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="InvTp3" name="InvTp" value="1">
                                    <label class="form-check-label" for="InvTp3"> @SystemResource.App_All</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                            <label class="col-3 col-md-5 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                            <div class="col-9 col-md-7">

                                <div class="search-content">
                                    <input type="text" class="form-control search-control" name="CustomerCODE" id="txtCustomerCode">
                                    <button type="button" id="btnCustomerSrch" name="Search" class="btn btn-main btn-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group row g-0">
                            <label class="align-self-center p-md-0"></label>
                            <div class="col-12">
                                <input type="text" class="form-control" disabled name="cust_nameACust_nameA" id="txtCustomerName">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Status</label>
                            <div class="col-8 ">
                                <select id="Authorized" name="" class="form-control">
                                    <option value="0">@SystemResource.App_All</option>
                                    <option value="1">@SystemResource.Authorized</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row ">
                            <label class="col-2 align-self-center p-md-0"> @SystemResource.CollectedBy</label>
                            <div class="col-10 special-group pt-0">
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="reptp1" name="reptp" value="1">
                                    <label class="form-check-label" for="reptp1"> @SystemResource.By_Custmer </label>
                                </div>
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="reptp3" name="reptp" value="1">
                                    <label class="form-check-label" for="reptp3"> @SystemResource.by_item</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.choose_Cat</label>
                            <div class="col-8 ">
                                <select id="drpPaymentType" name="" class="form-control">
                                    <option value="Null"> @SystemResource.choose_Cat  </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Type</label>
                            <div class="col-8 ">
                                <select id="drpitem_family" name="" class="form-control  text_Display"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row ">
                            <label class="col-2 align-self-center p-md-0">@SystemResource.App_report_type</label>
                            <div class="col-10 special-group pt-0">
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="reptype2" name="reptype" value="2">
                                    <label class="form-check-label" for="reptype2"> @SystemResource.Summary </label>
                                </div>
                                <div class="form-check d-inline-flex">
                                    <input class="form-check-input form-radio" type="radio" id="reptype1" name="reptype" value="1">
                                    <label class="form-check-label" for="reptype1">@SystemResource.Detailed</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Item</label>
                            <div class="col-8 ">
                                <select id="txt_ID_APP_Type" name="" class="form-control" disabled></select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script>
        $(document).ready(function () {
            // Initialize select2
            $("#drpitem_family").select2();
            $("#txt_ID_APP_Type").select2();

            // Read selected option
            $('#but_read').click(function () {
                var username = $('#drpitem_family option:selected').text();
                var userid = $('#drpitem_family').val();

                var username = $('#txt_ID_APP_Type option:selected').text();
                var userid = $('#txt_ID_APP_Type').val();


                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>

    <script src="~/ClientApp/CollectionReports/ItemsalesSum.js"></script>

    <script>

        function myclaer() {


            $("#ShiftName option:selected").prop("selected", false);
            $("#ShiftName option:first").prop("selected", "selected");

            $("#PeriodName option:selected").prop("selected", false);
            $("#PeriodName option:first").prop("selected", "selected");

            $("#SrvTypeName").value = "";
            $("#SrvTypeCode").value = "";
            $("#ShiftCode").value = "";
            $("#PeriodCode").value = "";



        }

    </script>
}

