@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrInvReceipt;
    Layout = "~/Views/Shared/Layout.cshtml";
}
 

<div class="row gy-3 ">
    @* Old HTml *@
    <div class="modal fade" id="Popup_Passowrd" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="PopupBody" class=" modal-body col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <div id="popu_Passowrd" class="popu animated zoomInLeft" style="display:block;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <h2 id="id_Labol" style="text-align: center;">يجب ادخال الباسور حتي ياتم عملية البيع</h2>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                                <span class="" style="font-size: 22px;font-weight: bold;">Password</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class=" col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                                <input id="txt_ApprovePass" type="password" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class=" col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">

                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <button id="btn_Approveprice" type="button" class="btn btn-info " style="display:block;">
                                    <span class="glyphicon glyphicon-download"></span> اعتماد
                                </button>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                                <button id="btn_Exit_Approveprice" type="button" class="btn btn-info " style="background-color: brown;">
                                    <span class="glyphicon glyphicon-remove"></span> ألغاء
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                                <div id="" class="List_MinUnitPrice_in_poup_pass">
                                    <ul id="Ul_List_MinUnitPrice"><li id="li_List_MinUnitPrice0" class="st_border_li_List_MinUnitPrice">-( بخارة ابيض افريقي 5 ك فله ) السعر (9) الحد (0350)</li><li id="li_List_MinUnitPrice1" class="st_border_li_List_MinUnitPrice">-( كاكا لبناني وسط 2 دور ) السعر (7) الحد (02550)</li><li id="li_List_MinUnitPrice2" class="st_border_li_List_MinUnitPrice">-( تفاح احمر صندوق سوري ) السعر (8) الحد (01250)</li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Container -->
    <div class="col-12" id="cotrolDiv">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                            <div class="col-8 ">
                                <select id="ddlCustomer" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtStartDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_ToDate</label>
                            <div class="col-8 ">
                                <input type="date" class="form-control" name="GosiJoinDate" id="txtEndDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_Salesman</label>
                            <div class="col-8 ">
                                <select id="ddlSalesmanFilter" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_State</label>
                            <div class="col-8 ">
                                <select id="ddlStateType" name="" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4 align-self-center p-md-0">@SystemResource.App_invoiceType</label>
                            <div class="col-8 ">
                                <select id='ddlInvoiceType' class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Container -->
    <div class="col-12">
        <!-- Search Table -->
        <div class="display_none" id="divShow">
            <div class="card bg-light-blue">
                <div class="card-body">
                    <div class="form-group row col-lg-6 col-md-8 col-12 mb-2 px-0">
                        <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">بحث</label>
                        <div class="col-8 col-lg-8 col-md-10">
                            <input id="searchbutmemreport" name="" type="text" class="form-control" placeholder="@SystemResource.Search">
                        </div>
                    </div>
                    <!-- Table  -->
                    <table id="divGridDetails"></table>
                </div>
            </div>
        </div>
        <!-- Details Container -->
        <div id="DivInvoiceDetails" class="row display_none">
            <div class="col-12 service-content">
                <div class="serviceBox">
                    <div class="row g-0">
                        <div class="col-12 col-md-4 ">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_InvoiceNum   </label>
                                <div class="col-8">
                                    <label disabled type="text" class="form-control" id="lblInvoiceNumber"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_date  </label>
                                <div class="col-8">
                                    <input disabled type="date" class="form-control" id="txtInvoiceDate">
                                </div>
                            </div>
                        </div>
                        <div id="checkShowPrice" class="col-12 col-md-2 ">
                            <div class="form-group row g-0">
                                <label class="col-3 col-md-4 align-self-center p-md-0">اعتماد</label>
                                <div class="col-2 col-md-8">
                                    <input type="checkbox" class="checkbox" id="chkActive" disabled name="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group row g-0">
                                <label class="col-4 col-md-2 align-self-center p-md-0">@SystemResource.App_Cutomer</label>
                                <div class="col-4 col-md-4 px-0">
                                    <select disabled class="form-control me-3" id="ddlInvoiceCustomer"></select>
                                </div>
                                <div class="col-4 col-md-6 px-0">
                                    <input type="text" disabled class="form-control" id="txtInvoiceCustomerName">
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0"> @SystemResource.App_Mobile  </label>
                                <div class="col-8">
                                    <input disabled type="text" class="form-control" name="CustomerMobileNo" maxlength="20" id="txtCustomerMobile">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Salesman</label>
                                <div class="col-8 ">
                                    <select disabled class="form-control" id="ddlSalesman"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 ">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_invoiceType</label>
                                <div class="col-8 ">
                                    <select disabled class="form-control" id="ddlType"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 ">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Store</label>
                                <div class="col-8 ">
                                    <select disabled class="form-control" id="ddlStore"></select>
                                </div>
                            </div>
                        </div>
                        <!-- Inside Table  -->
                        <div class="inside-table my-4">
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th style="width: 2%"></th>
                                            <th style="width: 3%">@SystemResource.serial</th>
                                            <th style="width: 18%">@SystemResource.App_Type</th>
                                            <th style="width: 18%">@SystemResource.App_Item</th>
                                            <th style="width: 7%" class="text-wrap">@SystemResource.App_soldQty</th>
                                            <th style="width: 5%" class="text-wrap">@SystemResource.App_returnQty</th>
                                            <th style="width: 7%" class="text-wrap">@SystemResource.App_Price</th>
                                            <th style="width: 8%" class="text-wrap">@SystemResource.PriceWithVat</th>
                                            <th style="width: 5%" class="text-wrap">@SystemResource.tax_rate</th>
                                            <th style="width: 8%" class="text-wrap">@SystemResource.App_total</th>
                                            <th style="width: 8%" class="text-wrap">@SystemResource.App_Tax</th>
                                            <th style="width: 8%" class="text-wrap"> @SystemResource.App_Net</th>

                                        </tr>
                                    </thead>
                                    <tbody id="div_Data"></tbody>

                                </table>
                                <div class="d-flex justify-content-start mr-1">
                                    <span id="btnAddDetails" class="mb-3"><i class="fas fa-plus-circle fs-2 btn-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- Total Details -->
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_total</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="TotalAmount" id="txtTotal" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Tax</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="VatAmount" id="txtTax" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Net</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="Tot_Net" id="txtNet" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_Commission</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="CommitionAmount" id="txtCommission" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_ItemsCount</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="Line_Count" id="txtItemCount" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group row g-0">
                                <label class="col-4 align-self-center p-md-0">@SystemResource.App_PackageCount</label>
                                <div class="col-8 ">
                                    <input disabled class="form-control" name="Tot_Qty" id="txtPackageCount" />
                                </div>
                            </div>
                        </div>

                        <!-- Editors Details -->
                        <div class="insettext row editor-details mt-2">
                            <div class="col-12 col-md-6">

                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Seller</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <label class="col-4 col-md-2 align-self-center p-md-0"> @SystemResource.App_Update</label>
                                    <div class="col-4 col-md-5 editor-input px-0">
                                        <input id="txtUpdatedBy" name="CreatedBy" type="text" disabled class="p-0">
                                    </div>
                                    <div class="col-4 col-md-5 editor-input px-0">

                                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="p-0">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/ClientApp/Sales/SlsTrShowPrice.js"></script>
    <script>
        $(document).ready(function () {
            $("#ddlCustomer").select2();
            $("#ddlSalesmanFilter").select2();
            $("#ddlInvoiceCustomer").select2();
            $("#ddlSalesman").select2();


            $('#but_read').click(function () {
                var username = $('#ddlCashBox option:selected').text();
                var userid = $('#ddlCashBox').val();
                var username = $('#ddlSalesman option:selected').text();
                var userid = $('#ddlSalesman').val();
                var username = $('#ddlCustomer option:selected').text();
                var userid = $('#ddlCustomer').val();
                var username = $('#ddlInvoiceCustomer option:selected').text();
                var userid = $('#ddlInvoiceCustomer').val();
                $('#result').html("id : " + userid + ", name : " + username);
            });
        });
    </script>
}

