@using Inv.WebUI.Resources

<!doctype html>
@*<html id="body_img" class="no-js">*@
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/images/logokids.png">
    <title>@SystemResource.App_Home</title>

    <link href="~/Style_design/LodBut/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/css/select2.min.css" rel="stylesheet" />*@
    <link href="~/New/css/sb-admin-2AR.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/New/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    @*<link href="~/New/css/sb-admin-2.min.css" rel="stylesheet" />*@
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
        <input type="hidden" id="GetAPIUrl" name="name" value="@System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"]" />
        <!-- Header top area start المنيو اللي في الجنب  -->

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            @*<li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>*@
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu -->


            <li id="btnSales" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#liMen_Sales" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Men_Sales</span>

                </a>
                <div id="liMen_Sales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnSlsTrShowPrice" key="SlsTrShowPrice"><i id="btnSlsTrShowPrice" href="#">@SystemResource.showPrice 1</i></a>
                            <a class="collapse-item" id="btnSlsTrSales" key="SlsTrSales"><i id="btnSlsTrSales" href="#">@SystemResource.Men_SlsSales 2</i></a>
                            <a class="collapse-item" id="btnSlsTrSalesManager" key="SlsTrSalesManager"><i id="btnSlsTrSalesManager" href="#">@SystemResource.Men_SlsTrSalesManager 3</i></a>
                            <a class="collapse-item" id="btnSlsTrReturn" key="SlsTrReturn"><i id="btnSlsTrReturn" href="#">@SystemResource.Men_SlsTrReturn 4</i></a>

                        </div>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li id="btnPurchase" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#liPurchase" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Purchase</span>
                </a>
                <div id="liPurchase" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnPurOrder" key="PurOrder"><i id="btnPurOrder" href="#">@SystemResource.Men_PurOrder </i></a>
                            <a class="collapse-item" id="btnPurTrReceive" key="PurTrReceive"><i id="btnPurTrReceive" href="#">@SystemResource.Purchase_Recieve </i></a>
                            <a class="collapse-item" id="btnPurTrReturn" key="PurTrReturn"><i id="btnPurTrReturn" href="#">@SystemResource.Purchase_Return </i></a>

                        </div>

                    </div>
                </div>
            </li>

            <li id="btnInventory" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#libtnInventory" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Inventory</span>
                </a>
                <div id="libtnInventory" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnDirecttransfer" key="Directtransfer"><i id="btnDirecttransfer" href="#">@SystemResource.Directtransfer </i></a>
                            <a class="collapse-item" id="btnSTKAdjust" key="STKAdjust"><i id="btnSTKAdjust" href="#">@SystemResource.Stocksettlement </i></a>
                            <a class="collapse-item" id="btnCollectUnit" key="CollectUnit"><i id="btnCollectUnit" href="#">@SystemResource.Inv_CollectUnit </i></a>
                            <a class="collapse-item" id="btnReceiveTransfer" key="ReceiveTransfer"><i id="btnReceiveTransfer" href="#">@SystemResource.Receipttransfer </i></a>
                            <a class="collapse-item" id="btnsendTransfer" key="sendTransfer"><i id="btnsendTransfer" href="#">@SystemResource.Sendtransfer </i></a>
                            <a class="collapse-item" id="btnStkDefItems" key="StkDefItems"><i id="btnStkDefItems" href="#">@SystemResource.Men_StkDefItems </i></a>
                            <a class="collapse-item" id="btnStkDefItemType" key="StkDefItemType"><i id="btnStkDefItemType" href="#">@SystemResource.Men_StkDefItemType </i></a>
                            <a class="collapse-item" id="btnStkDefCategory" key="StkDefCategory"><i id="btnStkDefCategory" href="#">@SystemResource.Men_StkDefCategory </i></a>
                            <a class="collapse-item" id="btnStkDefItemsNew" key="StkDefItemsNew"><i id="btnStkDefItemsNew" href="#">@SystemResource.Men_StkDefItems </i></a>
                            <a class="collapse-item" id="btnIssueToCC" key="IssueToCC"><i id="btnIssueToCC" href="#">@SystemResource.PaymentOrder </i></a>

                        </div>

                    </div>
                </div>
            </li>
            <li id="btnReportMenu" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#liReports" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Reports</span>
                </a>
                <div id="liReports" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnInventorymove" key="Inventorymove"><i id="btnInventorymove" href="#">@SystemResource.Inventorymove </i></a>
                            <a class="collapse-item" id="btnInventoryvalue" key="Inventoryvalue"><i id="btnInventoryvalue" href="#">@SystemResource.Inventoryvalue </i></a>
                            <a class="collapse-item" id="btnIncomeoperations" key="Incomeoperations"><i id="btnIncomeoperations" href="#">@SystemResource.Incomeoperations </i></a>
                            <a class="collapse-item" id="btnItemsalesSum" key="ItemsalesSum"><i id="btnItemsalesSum" href="#">@SystemResource.ItemsalesSum </i></a>
                            <a class="collapse-item" id="btnItemPurchase" key="ItemPurchase"><i id="btnItemPurchase" href="#">@SystemResource.ItemPurchase </i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li id="btnCashBoxDefinitions" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#li" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Men_FundMovement</span>
                </a>
                <div id="libtnCashBoxDefinitions" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnAccTrInvReceipt" key="AccTrInvReceipt"><i id="btnAccTrInvReceipt" href="#">@SystemResource.Men_AccTrInvReceipt </i></a>
                            <a class="collapse-item" id="btnAccTrReceiptNote" key="AccTrReceiptNote"><i id="btnAccTrReceiptNote" href="#">@SystemResource.Men_AccTrReceiptNote </i></a>
                            <a class="collapse-item" id="btnPurTrpaymemt" key="PurTrpaymemt"><i id="btnPurTrpaymemt" href="#">@SystemResource.Men_PurTrpaymemt </i></a>
                            <a class="collapse-item" id="btnAccTrPaymentNote" key="AccTrPaymentNote"><i id="btnAccTrPaymentNote" href="#">@SystemResource.Men_AccTrPaymentNote </i></a>
                            <a class="collapse-item" id="btnAccTrCustomerAdjust" key="AccTrCustomerAdjust"><i id="btnAccTrCustomerAdjust" href="#">@SystemResource.Men_AccTrCustomerAdjust </i></a>
                            <a class="collapse-item" id="btnAccTrVendorAdjust" key="AccTrVendorAdjust"><i id="btnAccTrVendorAdjust" href="#">@SystemResource.Men_AccTrVendorAdjust </i></a>
                        </div>
                    </div>
                </div>
            </li>


            <li id="btnCashBoxReports" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#libtnCashBoxReports" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>@SystemResource.Box_Report</span>
                </a>
                <div id="libtnCashBoxReports" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" id="btnCollectedaccstat" key="Collectedaccstat"><i id="btnCollectedaccstat" href="#">@SystemResource.Combined_account </i></a>
                            <a class="collapse-item" id="btnSupplieraccstat" key="Supplieraccstat"><i id="btnSupplieraccstat" href="#">@SystemResource.Suppliertstatment </i></a>
                            <a class="collapse-item" id="btnClientaccstat" key="Clientaccstat"><i id="btnClientaccstat" href="#">@SystemResource.Clientstatment </i></a>
                            <a class="collapse-item" id="btnCashBoxAccount" key="CashBoxAccount"><i id="btnCashBoxAccount" href="#">@SystemResource.AccountCashBox </i></a>
                            <a class="collapse-item" id="btnAgingCust" key="AgingCust"><i id="btnAgingCust" href="#">@SystemResource.AgingCust </i></a>
                            <a class="collapse-item" id="btnAgingVend" key="AgingVend"><i id="btnAgingVend" href="#">@SystemResource.AgingVend </i></a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <p class="text-center mb-2"><strong>Orange</strong> version:2</p>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Header top area start المنيو اللي فوق  -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input id="Screen_name" type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                            <input id="camp_name" type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2">

                        </div>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="~/New/img/undraw_profile.svg">
                            </a>
                        </li>
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/New/img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/New/img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/New/img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="Admin_name" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                     src="~/New/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a id="btn_loguotuser" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>


                <div @*id="cont" class="divcont"*@>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!--..............................user setting..................................................-->
    <div class="modal fade" id="user_setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@SystemResource.App_UserSetting </h4>
                </div>
                <div class="user_2">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">@SystemResource.App_OldPassword </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="txtOldPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label"> @SystemResource.App_NewPassword</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="txtNewPassword">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" id="btnChangePassword" class="btn btn-danger">@SystemResource.App_Confirm </button>
                        <button type="button" class="btn btn-primary btn_back">@SystemResource.App_Return</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">@SystemResource.App_Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="glyphicon glyphicon-arrow-up	"></i></a>
    <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
    <input type="hidden" id="ModelPreview" name="name" value="" />
    <input type="hidden" id="SearchControlName" name="name" value="" />
    <div class="modal fade messagealert" id="MessageBoxDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MessageBoxTitle">حذف!!</h4>
                </div>
                <div class="modal-body" style="max-height:200px; overflow:auto;">
                    <div class="col-xs-7"> <h3 id="MessageBoxMessage">هل تريد حقا الحذف ؟</h3></div>
                    <div class="col-xs-5 text-center">
                        <i class="glyphicon btn-danger"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="MessageBoxOk" class="btn btn-danger">@SystemResource.App_Confirm</button>
                    <button type="button" id="MessageBoxCancel" class="btn btn-warning" data-dismiss="modal">إلغاء</button>
                </div>
            </div>
        </div>
    </div>
    <div class="help-pop modal fade in" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">@SystemResource.App_Help</h4>
                </div>
                <div class="modal-body content content-8" id="modalHelpRep">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">@SystemResource.App_Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="SearchBox" class=" fade styleserch" style="display:none;z-index:999999999;">
        <div style="background-color:#ef6603!important; position:absolute;top:0px;left:0px;width:100%;height:40px;cursor:move;border-top-right-radius: 13px!important;border-top-left-radius: 13px!important;">
            <input type="button" onclick="$('#SearchBox').modal('hide');" id="btnCloseSearch" name="name" value="x" class="btn colose_lay_btn btn-danger" style="height: 40px;
              width: 38px;font-size: 20px;float: left;border-color: #ef6603!important;background-color: #ef6603!important;" />
            <h4 id="searchTitle" class="col-xs-3" style="color: #fff;line-height: 36px;text-align:right"></h4>
        </div>
        <div style="overflow-x:scroll;overflow-y:scroll;padding-left: 1%; margin-top:20px;width:100%;left:0px;left: 0px; position: absolute; width: 100%; height: 85%;">
            <div id="tableDiv" class="table table-bordered table-hover" style="width:100%;"></div>
        </div>
    </div>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalRep">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="ModalRep" tabindex="-1" role="dialog" aria-labelledby="ModalRep" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-xs-11" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close col-xs-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-xs-12">
                        <h2 class="pageheader__title col-xs-4 ">فاتورة الطلب</h2>
                        <button class="btn btn-success btn-sm col-xs-2" onclick="window.print();" style="float:left">
                            طباعة                <i class="fa fa-print"></i>
                        </button>
                    </div>



                </div>
                <div class="modal-body" id="datarepmodel">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="caret_script" style="display:none!important">
    </div>




    @*<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@



    <script src="~/New/vendor/jquery/jquery.min.js"></script>
    <script src="~/New/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/New/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/Bundles/AppScript2")
    @Scripts.Render("~/Bundles/AppScript3")
    @Scripts.Render("~/Bundles/AppScript4")

    @RenderSection("Script", required: false)

    <!-- Core plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="~/New/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->

    <script src="~/Style_design/LodBut/Loder.js"></script>
    <script src="~/js/select2.min.js"></script>



</body>
</html>