@using Inv.WebUI.Resources
@{
    /**/

    ViewBag.Title = "Accountstatement";

    Layout = "~/Views/Shared/Layout.cshtml";
}
@*<style>
        .disabledDiv {
            pointer-events: none;
            opacity: 0.45;
        }
        .style_contrctddr {
            margin-right: 8%;
        }

        .class_btn_drop {
            background-color: #c8c8c8;
            padding: 6px 10px 2px 10px;
        }

        .dropdown-item:hover {
            cursor: pointer !important;
            background-color: #c8c8c8 !important;
        }

        .pading_3 {
            padding: 0px 50px 0px !important
        }

        .textalign {
            text-align: center
        }

        .textcentr_pading {
            padding-right: 29px !important;
        }
        .src-btn {
            border-radius: 18px !important;
        }
        .dropdown-menu {
            border-radius: 11px;
        }
        .borderbottom {
            border: 2px inset;
        }
        .display_none {
            display: none !important;
        }

        .style_borderbottom {
            border: 2px inset;
            text-align: center;
        }
        .st_drop_text {
            position: absolute !important;
            top: 0px;
            z-index: 100;
        }
        .radiocontrol {
            top: -10px;
        }
        .font_heder {
            font-weight: bold;
            text-align: center;
        }
        .fontitm3 {
            float: right;
            margin: 5px -25px 0px 0px !important;
            font-size: 25px !important;
            position: absolute;
        }
        .btnplas {
            margin-top: 9px;
            margin-left: 6px;
            margin-right: 9px;
        }
        glyphicon-minus-sign :hover {
            color: #ff0000
        }

        #btnAddDetails {
            font-size: 30px;
        }
            #btnAddDetails:hover {
                color: #24b414;
            }

        .border_radio input{
            top:-6px!important
        }
        .border_radio label {
            padding: 1px !important;
        }
        .pading_2 {
            padding: 6px 11px 0px 0px !important;
        }
        .border_radio {
            text-align: center !important;
        }

    </style>*@
<div class="row gy-3" id="divnotifications">
    <!-- Filter Container -->
    <div id="div_dis" class="col-12">
        <div class="card bg-light-blue" >
            <div class="card-body" >
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtFromDate" class="col-4 align-self-center p-md-0">@SystemResource.App_FromDate</label>
                                    <div class="col-8">
                                        <input id="txtFromDate" name="" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.App_ToDate</label>
                                    <div class="col-8">
                                        <input id="txtToDate" name="" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.Professor_account_No </label>
                                    <div class="col-9 col-md-8">

                                        <div class="search-content">
                                            <input id="txtFromAcc_ID" name="" type="text" class="form-control" disabled="disabled">
                                            <button type="button" id="btnFromAccSearch" name="InvoiceSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <div class="col-12">
                                        <input id="txtFromAcc_DESC" name="" type="text" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0 d-flex justify-content-center align-items-center">
                                    <label class="col-3 col-md-4 align-self-center p-md-0">@SystemResource.menu_Costcenter </label>
                                    <div class="col-9 col-md-8">

                                        <div class="search-content">
                                            <input id="txtCenter_Cost_ID" name="" type="text" class="form-control" disabled="disabled">
                                            <button type="button" id="btnCCostSearch" name="InvoiceSearch" class="btn btn-main btn-search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row g-0">
                                    <div class="col-12">
                                        <input id="txtCenter_Cost_DESC" name="" type="text" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label for="txtToDate" class="col-4 align-self-center p-md-0"> @SystemResource.insert_restrictions</label>
                                    <div class="col-8">
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" id="chk_Certified" name="CUSTOM6" checked>
                                            <label class="form-check-label" for="chk_Certified"> @SystemResource.Certification </label>
                                        </div>
                                        <div class="form-check d-inline-flex">
                                            <input class="form-check-input form-radio" type="radio" id="chk_New" name="CUSTOM6">
                                            <label class="form-check-label" for="chk_New"> @SystemResource.newest</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                    </div>
                    <div class="col-12 col-md-3">
                      
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12    borderred ">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xl-7 col-xs-7">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 marginstenig pading_lep  pading_2">@SystemResource.App_FromDate</label>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                <input id="txtFromDate" name="" type="date" class="form-control  text_Display">
            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 marginstenig pading_lep  pading_2 textalign ">@SystemResource.App_ToDate</label>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                <input id="txtToDate" name="" type="date" class="form-control  text_Display">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 marginstenig pading_lep  pading_2">@SystemResource.Professor_account_No</label>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 pr-0">
                <button type="button" class="src-btn btn btn-warning " id="btnFromAccSearch" name="InvoiceSearch">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3 pr-0">
                <input id="txtFromAcc_ID" name="" type="text" class="form-control  text_Display" disabled="disabled">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 pr-0">
                <input id="txtFromAcc_DESC" name="" type="text" class="form-control  text_Display" disabled="disabled">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 marginstenig pading_lep  pading_2  ">@SystemResource.menu_Costcenter</label>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 pr-0">
                <button type="button" class="src-btn btn btn-warning " id="btnCCostSearch" name="InvoiceSearch">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3 pr-0">
                <input id="txtCenter_Cost_ID" name="" type="text" class="form-control  text_Display" disabled="disabled">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 pr-0">
                <input id="txtCenter_Cost_DESC" name="" type="text" class="form-control  text_Display" disabled="disabled">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 marginstenig pading_lep  pading_2">  @SystemResource.insert_restrictions </label>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep  pading_2  text-center ">  @SystemResource.Certification   </label>
                <input class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 form-control" type="checkbox" checked="checked" id="chk_Certified" name="CUSTOM6">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep  pading_2 text-center "> @SystemResource.newest   </label>
                <input class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 form-control" type="checkbox" checked="checked" id="chk_New" name="CUSTOM6">
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 border_radio" style="border: solid 1px;border-radius: 32px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep ">@SystemResource.App_Debtor </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep ">@SystemResource.App_Creditor </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep ">@SystemResource.App_Zero </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <label class="col-lg-8 col-md-8 col-sm-8 col-xl-8 col-xs-8  marginstenig pading_lep ">@SystemResource.App_All </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
            </div>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3  marginstenig pading_lep  pading_2Accountbalances">@SystemResource.First_bal</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 border_radio" style="border: solid 1px;border-radius: 32px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsF_termEnable" value="D">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsF_termEnable" value="C">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsF_termEnable" value="Z">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control" type="radio" id="IsF_AEnable" name="IsF_termEnable" value="A">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
            </div>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3  marginstenig pading_lep  pading_2Accountbalances"> @SystemResource.period_movement  </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 border_radio" style="border: solid 1px;border-radius: 32px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsMoveEnable" value="D">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsMoveEnable" value="C">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsMoveEnable" value="Z">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control" type="radio" id="IsM_AEnable" name="IsMoveEnable" value="A">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
            </div>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3  marginstenig pading_lep  pading_2Accountbalances">@SystemResource.closing_balance</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 border_radio" style="border: solid 1px;border-radius: 32px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsE_termEnable" value="D">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsE_termEnable" value="C">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control " type="radio" id="" name="IsE_termEnable" value="Z">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 form-control" type="radio" id="IsE_AEnable" name="IsE_termEnable" value="A">
                </div>
            </div>
        </div>
    </div>
    <div id=" " class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">  </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 col-xs-10" style="right: 3%;">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1"></div>
                <button id="btnReset" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl" style="float: right;"><span class="adminpro-icon  search-choice-focus "></span>@SystemResource.new_search </button>
                <button id="btnviewresult" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl" style="float: right;margin-right: 1%;display:none"><span class="adminpro-icon adminpro-paint-roller"></span>   @SystemResource.Preview_results   </button>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1"></div>
                <button id="btnPrintTrview" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-airplay"></span>@SystemResource.Print_Report</button>
                <button id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>   @SystemResource.Download_PDF</button>
                <button id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span> @SystemResource.Download_EXCEL  </button>
                <button id="btnPrint" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>@SystemResource.App_Print</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12"></div>
</div>
@section Script{
    <script src="~/ClientApp/GeneralLedger/Accountbalances.js"></script> 
    }