@using Inv.WebUI.Resources
@{
    ViewBag.Title = "PaymentIndex";

    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.45;
    }

    .BtnHide {
        WIDTH: 159PX;
    }

    .ccType {
    }

    .ccTypeBranch {
    }

    .Acc {
    }

    .costcntr {
    }

    .costcntrCCDt {
    }

    .style_contrctddr {
        margin-right: 8%;
    }

    .class_btn_drop {
        background-color: #c8c8c8;
        padding: 6px 10px 2px 10px;
    }

    .dropdown-item:hover {
        cursor: pointer !important;
        background-color: #c8c8c8 !important;
    }

    .pading_3 {
        padding: 0px 50px 0px !important
    }



    .textcentr_pading {
        padding-right: 29px !important;
    }

    .src-btn {
        border-radius: 18px !important;
    }

    .dropdown-menu {
        border-radius: 11px;
    }

    .borderbottom {
        border: 2px inset;
    }

    .display_none {
        display: none !important;
    }

    .style_borderbottom {
        border: 2px inset;
        text-align: center;
    }

    .st_drop_text {
        position: absolute !important;
        top: 0px;
        z-index: 100;
    }

    .radiocontrol {
        top: -10px;
    }

    .font_heder {
        font-weight: bold;
        text-align: center;
    }

    .fontitm3 {
        float: right;
        margin: 0px -14px 0px 0px !important;
        font-size: 21px !important;
        padding: 2px;
    }

    .fontitm4 {
        font-size: 25px !important;
        position: absolute;
    }




    .btnplas {
        margin-top: 9px;
        margin-left: 6px;
        margin-right: 9px;
    }



    glyphicon-minus-sign :hover {
        color: #ff0000
    }



    .btn-search {
        color: #fff;
        background-color: #f0ad4e;
        /* border-color: #eea236; */
    }

        .btn-search :hover {
            color: black;
        }

    #btnAddDetails {
        font-size: 30px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }


    #content_data .col-lg-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #content_data .col-lg-2 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #content_data .col-lg-3 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  borderred ">
    <div class="row" id="divFilter">
        <div id="divnotifications" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 textalignJournalVoucher ">@SystemResource.App_FromDate</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtFromDate" name="" type="date" class="form-control  text_Display">
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 textalignJournalVoucher ">@SystemResource.App_ToDate</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtToDate" name="" type="date" class="form-control  text_Display">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 textalignJournalVoucher ">@SystemResource.source</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <select id="ddlVoucherSourceFilter" name="" type="text" class="form-control  text_Display"></select>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 textalignJournalVoucher">@SystemResource.App_Type</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <select id="ddlVoucherTypeFilter" name="" type="text" class="form-control  text_Display"></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 ">
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.App_Status</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                    <select id="ddlStatusFilter" name="" type="text" class="form-control  text_Display"></select>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            @SystemResource.App_Print  <span class="glyphicon glyphicon-hand-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu" style="border-radius:15px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                                <button style="width:100%" id="btnPrint" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl display_none"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.App_Print </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                                <button style="width:100%" id="btnPrintTrview" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.Print_Report      </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                                <button style="width:100%" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>   @SystemResource.Download_PDF     </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                                <button style="width:100%" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span> @SystemResource.Download_EXCEL   </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info" id="btnShow">
                        @SystemResource.App_Show   <span class="glyphicon glyphicon-save"></span>
                    </button>
                    <button type="button" class="btn btn-success" id="btnAdd">
                        @SystemResource.App_Add  <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
            <div id="div_grid" style="position: relative;height: auto;width: 100%;">
            </div>
        </div>
    </div>
    <div class="form-group display_none" id="divGridShow">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
            <input id="txtSearch" name="" type="text" class="form-control  text_Display" placeholder="@SystemResource.Search ">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <table id="divGridDetails"></table>
        </div>
    </div>
    <label id="lbgridSelect" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 col-xs-12 " style="color: blue; text-align: center;font-size: large;"> @SystemResource.double_clicking  </label>
    <div id="DivMassage" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  margingred  borderred display_none">
        <h4 id="Text_Massage" style="">@SystemResource.App_Print</h4>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  borderred display_none" id="divTempHeader">
    <label id="div_contentliest" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 labeltitel "><span id="spandiv_contentliest" class="ifontowsam fa fa-caret-left"></span>@SystemResource.Restriction_form</label>
    <div class="row showdiv " id="DivTemplate">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12  " id="divTemplateData">

                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  ">@SystemResource.Form_name</label>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <input id="txtTempName" name="" disabled type="text" class="form-control  text_Display">
                </div>
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 text-center ">@SystemResource.Form_num</label>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                    <input id="txtTempNumber" name="" disabled type="text" class="form-control  text_Display">
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 col-xs-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                            <button type="button" class="btn btn-success  BtnHide" id="btnCreateTemplate">
                                @SystemResource.Create_form  <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                         
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <button type="button" class="btn btn-danger  BtnHide" id="btnDeleteTemplate">
                                @SystemResource.Delete_form  <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                            <button type="button" class="btn btn-warning  BtnHide" id="btnEditTemplate">
                                @SystemResource.Modify_form  <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                            <button type="button" class="btn btn-info  BtnHide" id="btnLoadTemplate">
                                @SystemResource.Download_form<span class="glyphicon glyphicon-download"></span>
                            </button>
                        </div>

                    </div>

                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">

                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher">@SystemResource.Save_vale </label>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        <input id="rdSaveValue" name="rd" disabled type="radio" class="form-control  text_Display">
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher ">@SystemResource.Save_desc</label>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                        <input id="rdSaveDesc" name="rd" disabled type="radio" class="form-control  text_Display">
                    </div>

                    <button type="button" class="btn btn-warning   display_none" id="btnBackTemp">
                        <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_back
                    </button>
                    <button id="btnSaveTemp" type="button" class="btn btn-success  display_none ">
                        @SystemResource.App_save  <span class="glyphicon glyphicon-floppy-saved"></span>
                    </button>

                </div>


            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  borderred">
    <div class="row display_none" id="divJournalDetail">
        <div id="div_BasicData" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 margingred  ">
            <div id="ButtonsDiv" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1">
                    <button type="button" class="btn btn-warning  " id="btnPrintTransaction">
                        <span class="glyphicon glyphicon-print"></span> @SystemResource.App_Print
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                    <button type="button" class="btn btn-warning display_none " id="btnBack">
                        <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_back
                    </button>
                    <button id="btnSave" type="button" class="btn btn-success display_none ">
                        @SystemResource.App_save  <span class="glyphicon glyphicon-floppy-saved"></span>
                    </button>
                    <button type="button" class="btn btn-primary  " id="btnEdit">
                        <span class="glyphicon glyphicon-edit"></span> @SystemResource.App_Update
                    </button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3">
                    <button id="btnUnAuthorize" type="button" class="btn btn-info  ">
                        <span class="glyphicon glyphicon-ok"></span>  @SystemResource.Decode_adoption
                    </button>
                    <button id="btnAuthorize" type="button" class="btn btn-info  ">
                        <span class="glyphicon glyphicon-ok"></span> @SystemResource.App_approved
                    </button>
                    <button type="button" class="btn btn-primary display_none " id="btnPost">
                        <span class="glyphicon glyphicon-edit"></span> @SystemResource.relay
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                    <button id="btnReverseVoucher" type="button" class="btn btn-warning  ">
                        <span class="glyphicon glyphicon-tree-conifer"></span>  @SystemResource.opposite_current_restriction
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2">@SystemResource.App_Number </label>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtJouranlNumber" name="" disabled type="text" class="form-control  text_Display">
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 textalignJournalVoucher ">@SystemResource.App_date</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtJouranlDate" name="" disabled type="date" class="form-control  text_Display">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2  ">@SystemResource.App_desc</label>
                    <div class="col-lg-10 col-xs-8">
                        <textarea id="txtJournalDescripton" name="" disabled type="text" class="form-control  text_Display"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xs-6 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.App_Type</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <select id="ddlJournalType" name="" disabled type="text" class="form-control  text_Display"></select>
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.App_Status	</label>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                        <input id="rdNew" name="radio" disabled type="radio" class="form-control radiocontrol col-lg-4 text_Display">
                        <label class="col-lg-8">@SystemResource.App_new</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                        <input id="rdAuthorized" name="radio" disabled type="radio" class="form-control radiocontrol col-lg-4 text_Display">
                        <label class="col-lg-8">@SystemResource.Certified</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2">
                        <input id="rdPosted" name="radio" disabled type="radio" class="form-control radiocontrol col-lg-4 text_Display  ">
                        <label class="col-lg-8  ">@SystemResource.deported</label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.refTrTransNo</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtRefNumber" name="" disabled type="text" class="form-control  text_Display" />
                    </div>

                    <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 ">@SystemResource.source</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4">
                        <input id="txtResource" name="" disabled type="text" class="form-control  text_Display" />
                    </div>
                </div>
            </div>
            <div id="content_data" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 border_gridCont" style="overflow:scroll">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_heder border_butoom_heder  ">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="width:5%">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" id="divAccNumber" style="width:11.5%;cursor:pointer">
                        <span class="">@SystemResource.p_account_number</span>
                        <i title="نسخ" class="glyphicon glyphicon-resize-horizontal" style="font-weight:bold!important"></i>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 Acc" style=" ">
                        <span class="">@SystemResource.SHT_Name</span>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="width:11.5%;">
                        <span class="">@SystemResource.App_Debtor </span>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="width:11.5%;">
                        <span class="">@SystemResource.App_Creditor</span>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1 ccType " id="divCostCnterName" style="cursor:pointer">
                        <span class="">@SystemResource.menu_Costcenter</span>
                        <i class="glyphicon glyphicon-resize-horizontal" style="font-weight:bold!important"></i>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 ccType costcntr" style=" ">
                        <span class="">@SystemResource.SHT_Name</span>
                    </div>
                    <div id="divJournalVouchergred" class="col-lg-9 col-md-9 col-sm-9 col-xl-9 col-xs-9 JournalVouchergred border_butoom_heder  ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2 ccTypeBranch  " id="divCostCnterNameCCDT" style="cursor:pointer">
                            <span class=""> @SystemResource.BU</span>
                            <i class="glyphicon glyphicon-resize-horizontal" style="font-weight:bold!important"></i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4 ccTypeBranch  costcntrCCDt " style=" ">
                            <span class="">@SystemResource.SHT_Name</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 col-xs-4" style=" ">
                            <span class="">@SystemResource.App_Notes</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 ">
                    <div class="row " id="div_Data">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_heder ">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="">
                    <span id="btnAddDetails" class="glyphicon glyphicon-plus-sign  "></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2" style="">
                </div>
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher"> @SystemResource.App_total  </label>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="width:11.5%">
                    <input id="txtTotalDebit" name="" disabled type="text" class="form-control  text_Display" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="width:11.5%">
                    <input id="txtTotalCredit" name="" disabled type="text" class="form-control  text_Display" />
                </div>
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher"> @SystemResource.Itm_Diff  </label>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1" style="">
                    <input id="txtDifference" name="" disabled type="text" class="form-control  text_Display" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_heder  " id="divAccountNameFooter">
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher"> @SystemResource.p_account_number </label>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3" style="">
                    <input id="txtAccountNameFooter" name="" value="" disabled type="text" class="form-control  text_Display" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 font_heder " id="divCostCntrNameFooter">
                <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2 textalignJournalVoucher"> @SystemResource.menu_Costcenter  </label>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 col-xs-3" style="">
                    <input id="txtCostCntrNameFooter" name="" value="" disabled type="text" class="form-control  text_Display" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Create </label>
            <input id="txtCreatedBy" name="CREATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">
            <input id="txtCreatedAt" name="CREATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2"> </div>
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">@SystemResource.App_Update </label>
            <input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom">
            <input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
        </div>
        <br />
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.confirmation </label>
            <input id="txtAuthorizedBy" name="CREATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">
            <input id="txtAuthorizedAt" name="CREATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2"> </div>
            <label class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom ">@SystemResource.relay </label>
            <input id="txtPostedBy" name="UPDATED_BY" type="text" disabled class="col-lg-1 col-md-1 col-sm-1 col-xl-1 col-xs-1  marginstenig pading_lep  pading_2  borderbottom">
            <input id="txtPostedAt" name="UPDATED_AT" type="text" disabled class="col-lg-2 col-md-2 col-sm-2 col-xl-2 col-xs-2  marginstenig pading_lep  pading_2 style_borderbottom">

        </div>
    </div>
</div>


<script>
    //$('#lepnotifications').on('click', function () {
    //    $('#divnotifications').toggleClass('showdiv');
    //    $('#spanlepnotifications').toggleClass('fa-caret-left');
    //    $('#spanlepnotifications').toggleClass('fa-caret-down');
    //});
    //$('#div_contentliest').on('click', function () {
    //    $('#DivTemplate').toggleClass('showdiv');
    //    $('#spandiv_contentliest').toggleClass('fa-caret-left');
    //    $('#spandiv_contentliest').toggleClass('fa-caret-down');
    //});
</script>
<script>
    $('#btnReserveID').on('click', function () {
        $('#drpsearchReserve').toggleClass('display_none');
    });
    $('#btnCloseNo').on('click', function () {
        $('#drpCloseNo').toggleClass('display_none');
    }); $('#btnContractRentID').on('click', function () {
        $('#drpContractRent').toggleClass('display_none');
    });
</script>
<script src="~/ClientApp/GeneralLedger/JournalVoucher.js"></script>
<style>
    .glyphicon-duplicate :hover {
        color: red !important;
        cursor: copy !important;
    }
</style>